# ======= #
# General #
# ======= #

DEBUG=True
LOG_LEVEL=info

SECRET_KEY=django-insecure-test-key-not-for-production

PROJECT_NAME=Insight UI
PROJECT_DESCRIPTION=Our base template to build Web UI's for our applications.
PROJECT_AUTHOR=Alpin Insight AI
