# ======= #
# General #
# ======= #

DEBUG=True
LOG_LEVEL=debug

SECRET_KEY=django-insecure-test-key-not-for-production

# ========== #
# Deployment #
# ========== #

# Disables 'Rosetta' and 'Tailwind-CLI',
# If you want to set this to False, remember to set USE_TAILWIND_CLI to False as well
IS_PROD=False

# ======== #
# Tailwind #
# ======== #

USE_TAILWIND_CLI=False
