{% load insight_tags %}

<div
  data-insight-accordion="{{ accordion_config.tag_id }}"
  data-exclusive="{{ accordion_config.exclusive|yesno:'true,false' }}"
  class="overflow-hidden"
>
  {% for item in accordion_config.items %}
    {% with forloop.counter0|stringformat:"s" as idx %}
      {% with accordion_config.tag_id|add:"-panel-"|add:idx as panel_id %}
        <div>
          <h3 class="text-primary mb-1">
            <button
              class="flex justify-between items-center w-full border-b border-insight-primary-border px-4 py-3 scroll-mt-24 focus:outline-none focus-visible:ring-2 ring-insight-focus"
              aria-expanded="false"
              aria-controls="{{ panel_id }}"
              id="{{ panel_id }}-header"
            >
              <span>{{ item.title }}</span>
              <div class="ml-2 transform transition-transform duration-300">
                {% icon name="chevron-down" size="xs" %}
              </div>
            </button>
          </h3>
          <div
            id="{{ panel_id }}"
            class="accordion-content px-4 overflow-hidden transition-all duration-300 ease-in-out"
            role="region"
            aria-labelledby="{{ panel_id }}-header"
            style="height: 0; opacity: 0;"
          >
            <div class="py-4">
              <p class="text-secondary">{{ item.content }}</p>
            </div>
          </div>
        </div>
      {% endwith %}
    {% endwith %}
  {% endfor %}
</div>
