{% load i18n insight_tags %}

<div
  {% if alert_config.tag_id %}id="{{ alert_config.tag_id }}"{% endif %}
  role="alert"
  class="flex justify-between p-4 w-full h-fit rounded-insight-surface shadow-insight-subtle {% if alert_config.type == 'success' %}bg-insight-success-soft{% elif alert_config.type == 'warning' %}bg-insight-warning-soft{% elif alert_config.type == 'error' %}bg-insight-danger-soft{% else %}bg-insight-info-soft{% endif %}"
>
  <div class="flex gap-2 items-center {% if alert_config.type == 'success' %}text-insight-success-foreground{% elif alert_config.type == 'warning' %}text-insight-warning-foreground{% elif alert_config.type == 'error' %}text-insight-danger-foreground{% else %}text-insight-info-foreground{% endif %}">
    {% if alert_config.type == 'success' %}
      {% icon name="check" %}
    {% elif alert_config.type == 'warning' %}
      {% icon name="exclamation-triangle" %}
    {% elif alert_config.type == 'error' %}
      {% icon name="exclamation-circle" %}
    {% else %}
      {% icon name="information-circle" %}
    {% endif %}
    <p>{{ alert_config.message }}</p>
  </div>

  {% if alert_config.dismissible %}
    {% button label=_("Close") icon_name="x-mark" icon_size="xs" icon_only=True type="neutral" size="s" subtle=True data_insight_dismiss="alert" %}
  {% endif %}
</div>
