{% load i18n insight_tags %}

<div
  {% if tag_id %}id="{{ tag_id }}"{% endif %}
  role="alert"
  class="flex justify-between w-full h-fit shadow p-4 rounded {% if type == "success" %}bg-insight-success/15{% elif type == "warning" %}bg-insight-warning/15{% elif type == "error" %}bg-insight-danger/15{% else %}bg-insight-info/15{% endif %}"
>
  <div class="flex items-center gap-2 {% if type == "success" %}text-insight-success{% elif type == "warning" %}text-insight-warning{% elif type == "error" %}text-insight-danger{% else %}text-insight-info{% endif %}">
    {% if type == 'success' %}
      {% icon name="tick" %}
    {% elif type == 'warning' %}
      {% icon name="warning" %}
    {% elif type == 'error' %}
      {% icon name="danger" %}
    {% else %}
      {% icon name="info" %}
    {% endif %}
    <p>{{ message }}</p>
  </div>

  {% if dismissible %}
    <button
      class="bg-white h-fit rounded-sm p-2 text-insight-text-primary hover:bg-gray-100 hover:dark:bg-gray-300 transition"
      aria-label="{% trans 'Close' %}"
      data-insight-dismiss="alert"
    >
      {% icon name="x-mark" size="xs" %}
    </button>
  {% endif %}
</div>
