{% load i18n insight_tags %}

<div class="flex gap-3 items-center {% if brand_mark_config.logo_position == 'end' %}justify-between{% endif %} {{ brand_mark_config.css_class }}">
    <span class="shrink-0 {% if brand_mark_config.logo_position == 'end' %} order-2{% endif %}" aria-hidden="true">
        {% logo config=brand_mark_config.logo %}
    </span>
    <span class="text-xl tracking-tight whitespace-nowrap">
        <span class="font-medium text-primary">{{ brand_mark_config.primary_text }}</span>
        <span class="font-bold text-insight-primary">{{ brand_mark_config.secondary_text }}</span>
    </span>
</div>
