{% load i18n insight_tags %}

<nav role="navigation" aria-label="{% trans 'Breadcrumb-Navigation' %}">
    <ul class="flex gap-1">
        {% for item in items %}
            <li class="flex items-center">
                {% if not forloop.last %}
                    <a
                        href="{{ item.request_url|default:'#' }}"
                        {% if htmx %}
                            hx-get="{{ item.request_url }}"
                            hx-target="{{ htmx.target }}"
                            hx-swap="{{ htmx.swap|default:'innerHTML' }}"
                            hx-trigger="submit"
                        {% endif %}
                        class="inline-flex gap-1 text-link"
                    >
                        {% if item.icon %}
                            {% icon item.icon %}
                        {% endif %}
                        {{ item.text }}
                    </a>
                    <div class="text-gray-300 dark:text-gray-500 ms-1 inline-block">
                        {% icon name="chevron_right" size="xs" %}
                    </div>
                {% else %}
                    <span aria-current="page" class="inline-flex gap-1 text-neutral-400">
                        {% if item.icon %}
                            {% icon item.icon %}
                        {% endif %}
                        {{ item.text }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
