{% load insight_tags %}

<ol>
    {% for item in items %}
        <li class="relative {% if not forloop.first %}pt-10{% endif %}">
            {% if not forloop.first %}
                <div aria-hidden="true" class="absolute -top-1 start-4 {% if not item.completed and not item.current %}bg-gray-100 dark:bg-gray-600{% else %}bg-gray-300{% endif %} h-1/2 w-0.5 mt-0.5 -ms-px"></div>
            {% endif %}
            <a
                {% if item.view_name and not item.current %}href="{% url item.view_name %}"{% endif %}
                {% if item.current %}aria-current="step"{% endif %}
                class="relative flex items-start {% if not item.view_name %}pointer-events-none{% endif %}"
            >
                <!-- Bullet -->
                <span class="flex items-center h-9">
                    <span class="relative z-10 flex items-center justify-center size-8 border-2 {% if not item.completed and not item.current %}border-gray-100 dark:border-gray-600{% else %}border-gray-300{% endif %} rounded-full text-primary">
                        {% if item.completed %}
                            {% icon name="tick" size="small" %}
                        {% elif item.bullet_icon %}
                            {% icon item.bullet_icon %}
                        {% elif item.bullet_text %}
                            <span>{{ item.bullet_text }}</span>
                        {% else %}
                            <span class="{% if not item.completed and not item.current %}bg-gray-100 dark:bg-gray-600{% else %}bg-gray-300{% endif %} size-2.5 rounded-full"></span>
                        {% endif %}
                    </span>
                </span>
                <!-- Information -->
                <div class="flex flex-col min-w-0 ms-4">
                    <span class="text-sm font-medium {% if not item.completed and not item.current %}text-gray-300 dark:text-gray-700{% elif item.current %}text-insight-primary{% else %}text-primary{% endif %}">{{ item.title}}</span>
                    <span class="text-sm {% if not item.completed and not item.current %}text-gray-300 dark:text-gray-700{% else %}text-secondary{% endif %}">{{ item.description }}</span>
                </div>
            </a>
        </li>
    {% endfor %}
</ol>
