<div class="flex flex-col gap-4">
    <!-- Own message -->
    <div class="bg-insight-secondary-background w-fit border border-insight-secondary-border px-4 py-2 rounded-lg rounded-ee-none place-self-end">
        <p class="italic text-secondary">{{ msg }}</p>
    </div>
    <!-- Response message -->
    <div class="bg-insight-tertiary-background w-fit border border-insight-tertiary-border px-4 py-2 rounded-lg rounded-es-none place-self-start">
        <p class="text-primary">{% lorem 30 w %}</p>
    </div>
</div>
