<div class="flex flex-col gap-4">
    <!-- Own message -->
    <div class="place-self-end px-4 py-2 w-fit bg-insight-bg-surface border border-insight-border-raised rounded-insight-surface rounded-ee-none">
        <p class="text-secondary italic">{{ msg }}</p>
    </div>
    <!-- Response message -->
    <div class="place-self-start px-4 py-2 w-fit bg-insight-bg-raised border border-insight-border-overlay rounded-insight-surface rounded-es-none">
        <p class="text-primary">{% lorem 30 w %}</p>
    </div>
</div>
