<div class="flex flex-col gap-4">
    <!-- Own message -->
    <div class="place-self-end px-4 py-2 w-fit bg-insight-surface border border-insight-raised rounded-insight-surface rounded-ee-none">
        <p class="text-insight-body italic">{{ msg }}</p>
    </div>
    <!-- Response message -->
    <div class="place-self-start px-4 py-2 w-fit bg-insight-raised border border-insight-overlay rounded-insight-surface rounded-es-none">
        <p class="text-insight-headline">{% lorem 30 w %}</p>
    </div>
</div>
