{% load i18n %}

<div class="w-full lg:w-3xl mx-auto">
    <!-- Response-container -->
    <div class="my-2 grow" id="response"></div>

    <!-- Input-container -->
    <form hx-post="{% url view_name %}" hx-swap="beforeend" hx-target="#response" class="mt-16 space-y-2">
        {% csrf_token %}
        <label class="block text-sm font-medium text-secondary" for="msg">
            {% trans "Message" %}
        </label>
        <div class="flex gap-2">
            <input class="input w-full" id="msg" name="msg" type="text" placeholder="{% trans 'Write something...' %}">
            <button class="btn btn-primary" type="submit">
                {% trans "Send" %}
            </button>
        </div>
    </form>
</div>
