{% load insight_tags %}

<div
    data-insight-checkbox-group
    data-minimum-checked="{{ checkbox_group_config.minimum_checked|default:-1 }}"
    data-maximum-checked="{{ checkbox_group_config.maximum_checked|default:1000000 }}"
>
    {% if checkbox_group_config.label %}
        <span class="flex gap-1 text-sm font-bold text-primary mb-1">{{ checkbox_group_config.label }}</span>
    {% endif %}
    <div class="flex {% if not checkbox_group_config.as_row %}flex-col space-y-1{% else %}space-x-4{% endif %}">
        {% for item in checkbox_group_config.items %}
            {% checkbox tag_id=item.tag_id name=checkbox_group_config.name value=item.value checked=item.checked disabled=item.disabled label=item.label %}
        {% endfor %}
    </div>
</div>
