<label class="flex gap-1 items-center">
    <input
        type="checkbox"
        {% if checkbox_config.tag_id %}id="{{ checkbox_config.tag_id }}"{% endif %}
        name="{{ checkbox_config.name }}"
        value="{{ checkbox_config.value }}"
        {% if checkbox_config.checked %}checked{% endif %}
        {% if checkbox_config.disabled %}disabled{% endif %}
        class="accent-insight-primary"
    >
    <span class="{% if checkbox_config.disabled %}text-secondary{% else %}text-primary{% endif %} text-sm">{{ checkbox_config.label }}</span>
</label>
