<label class="flex gap-1 items-center"{% if checkbox_config.disabled and checkbox_config.disabled_reason %} data-insight-tooltip="{{ checkbox_config.disabled_reason }}"{% endif %}>
    <input
        type="checkbox"
        {% if checkbox_config.tag_id %}id="{{ checkbox_config.tag_id }}"{% endif %}
        name="{{ checkbox_config.name }}"
        value="{{ checkbox_config.value }}"
        {% if checkbox_config.checked %}checked{% endif %}
        {% if checkbox_config.disabled %}disabled{% endif %}
        class="accent-insight-primary"
    >
    <span class="{% if checkbox_config.disabled %}text-insight-body{% else %}text-insight-headline{% endif %} text-sm">{{ checkbox_config.label }}</span>
</label>
