{% load i18n %}

{% comment %}

ATTENTION: THIS IS NOT THE REAL COMPONENT!

This file is just a helper to develop the structure, the real component is in 'static/insight_ui/js/insight-ui-code-block.js'.

{% endcomment %}

<div class="bg-[#f9fafb] dark:bg-[#030712] rounded border border-gray-300 dark:border-gray-700">
    <div class="flex justify-between bg-gray-200 dark:bg-gray-900 rounded-t p-2">
        <div class="flex">
            <span class="text-secondary leading-loose bg-gray-50 dark:bg-gray-700 rounded-sm px-2 py-1">{{ lang }}</span>
            <span class="text-secondary leading-loose bg-gray-50 dark:bg-gray-700 rounded-sm px-2 py-1 ms-2">{{ filename }}</span>
        </div>
        {% button label=_("Copy") icon_name="clipboard" icon_size="s" type="secondary" size="xs" extra_classes=id data_clipboard_target="#"|add:id %}
    </div>
    <div class="max-w-2xs md:max-w-2xl lg:max-w-5xl overflow-x-scroll">
        <pre id="{{ id }}" class="line-numbers language-{{ lang }}"><code>{{ code }}</code></pre>
    </div>
</div>
