{% load insight_tags %}

<div class="relative">
    <button data-insight-dropdown="{{ tag_id }}" class="btn btn-primary">
        {{ title }}
        {% if show_arrow %}
            {% icon name="chevron_down" size="s" %}
        {% endif %}
    </button>
    <div id="{{ tag_id }}" class="hidden border insight-border-surface insight-radius-control insight-shadow-overlay">
        {% for item in items %}
            <a
                href="{{ item.request_url|default:'#' }}"
                {% if htmx %}
                    hx-get="{{ item.request_url }}"
                    hx-target="{{ htmx.target }}"
                    hx-swap="{{ htmx.swap|default:'innerHTML' }}"
                    hx-trigger="submit"
                {% endif %}
                class="flex items-center gap-1 px-4 py-2 text-sm text-primary insight-surface-soft hover:bg-insight-surface-muted {% if forloop.first %}rounded-t{% elif forloop.last %}rounded-b{% endif %}"
            >
                {% if item.icon %}
                    <div>
                        {% icon item.icon %}
                    </div>
                {% endif %}
                {{ item.text }}
            </a>
        {% endfor %}
    </div>
</div>
