{% load insight_tags %}

<div class="relative">
    {% if dropdown_config.show_arrow %}
        {% button label=dropdown_config.title icon_name="chevron_down" icon_size="s" icon_end=True data_insight_dropdown=dropdown_config.tag_id %}
    {% else %}
        {% button label=dropdown_config.title data_insight_dropdown=dropdown_config.tag_id %}
    {% endif %}
    <div id="{{ dropdown_config.tag_id }}" class="hidden border border-gray-300 dark:border-0 rounded-sm insight-shadow-overlay">
        {% for item in dropdown_config.items %}
            <a
                href="{{ item.request_url|default:'#' }}"
                {% if htmx %}
                    hx-get="{{ item.request_url }}"
                    hx-target="{{ htmx.target }}"
                    hx-swap="{{ htmx.swap|default:'innerHTML' }}"
                    hx-trigger="submit"
                {% endif %}
                class="flex items-center gap-1 px-4 py-2 text-sm text-primary bg-gray-100 dark:bg-gray-600 hover:bg-gray-200 dark:hover:bg-gray-500 {% if forloop.first %}rounded-t{% elif forloop.last %}rounded-b{% endif %}"
            >
                {% if item.icon %}
                    <div>
                        {% icon item.icon %}
                    </div>
                {% endif %}
                {{ item.text }}
            </a>
        {% endfor %}
    </div>
</div>
