{% load i18n insight_tags %}

<footer class="z-10 bg-white dark:bg-gray-800 border-t border-gray-200 dark:border-gray-700 px-4 md:px-16 mt-auto">
    <div class="mx-auto py-6">
        <div class="flex flex-col md:flex-row justify-stretch gap-6">
            {% if description %}
                <div class="flex-1">
                    <h4>{{ description.title }}</h4>
                    <p class="text-secondary text-sm">{{ description.text }}</p>
                    {% if description.image %}
                        {% logo config=description.image height=description.image.height|default:'8rem' css_class="mt-4" %}
                    {% endif %}
                </div>
            {% endif %}
            <div class="flex-1">
                <h4>{% trans 'Links' %}</h4>
                <ul>
                    {% for link in links %}
                        <li>
                            <a href="{% url link.view_name %}" class="inline-flex gap-1 text-secondary hover:text-insight-text-link-hover dark:hover:text-insight-text-link-hover text-sm">
                                {% if link.icon %}
                                    {% icon link.icon %}
                                {% endif %}
                                {{ link.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex-1">
                <h4>{% trans 'Contact' %}</h4>
                <div class="space-x-4">
                    {% if contact.imprint %}
                        <a href="{{ contact.imprint }}" class="text-secondary hover:text-insight-text-link-hover text-sm">{% trans "Imprint" %}</a>
                    {% endif %}
                    {% if contact.privacy %}
                        <a href="{{ contact.privacy }}" class="text-secondary hover:text-insight-text-link-hover text-sm">{% trans "Privacy" %}</a>
                    {% endif %}
                </div>
                {% if contact.mail_url %}
                    <p class="text-secondary text-sm mt-2">
                        {% trans 'Do you have any questions or feedback?' %}<br>
                        <a href="mailto:{{ contact.mail_url }}" class="text-insight-primary hover:underline">{{ contact.mail_url }}</a>
                    </p>
                {% endif %}
            </div>
        </div>
        {% if copyright or version %}
            <div class="flex justify-center border-t border-gray-200 dark:border-gray-700 mt-6 pt-4">
                {% if copyright %}
                    {% copyright_notice config=copyright %}
                {% endif %}
                {% if version %}
                    <span class="text-secondary text-sm">
                        {% if copyright %}&nbsp;&centerdot;{% endif %}
                        {% trans "Version:" %} {{ version }}
                    </span>
                {% endif %}
            </div>
        {% endif %}
    </div>
</footer>
