{% load i18n insight_tags %}

<div
  {% if infinite_scroll_config.tag_id %}id="{{ infinite_scroll_config.tag_id }}"{% endif %}
  {% if infinite_scroll_config.auto_fetch %}
    hx-get="{{ infinite_scroll_config.request_url }}?page={{ infinite_scroll_config.page }}"
    hx-swap="afterend"
    hx-trigger="revealed threshold:{{ threshold|default:100 }}px"
  {% endif %}
>
  {# Existing Content #}
  <div>
    {% for item in infinite_scroll_config.items %}
      <div class="bg-insight-secondary-background border border-insight-primary-border rounded-lg p-4 mb-4">
        <h3>{{ item.title }}</h3>
        <p class="text-secondary">{{ item.content }}</p>
      </div>
    {% endfor %}
  </div>

  {% if not infinite_scroll_config.auto_fetch %}
    {% with page_num=infinite_scroll_config.page|stringformat:"s" %}
      {% with url=infinite_scroll_config.request_url|add:"?page="|add:page_num|add:"&auto_fetch="|add:infinite_scroll_config.auto_fetch %}
        {% button label=_("Load more") size="l" extra_classes="mx-auto" hx_get=url hx_swap="outerHTML" hx_trigger="click" hx_indicator=".htmx-indicator" %}
      {% endwith %}
    {% endwith %}
  {% endif %}

  {# Loading Indicator #}
  <div class="htmx-indicator">
    <div class="flex items-center justify-center py-4">
      <div class="animate-spin rounded-full h-6 w-6 border-b-2 border-insight-primary"></div>
      <span class="ml-2 text-sm text-secondary">{% trans 'More content is loading...' %}</span>
    </div>
  </div>
</div>
