{% load insight_tags %}

<div class="info-container text-primary mt-4 {% if type == "success" %}border-s-insight-success{% elif type == "warning" %}border-s-insight-warning{% elif type == "error" %}border-s-insight-danger{% else %}border-s-insight-info{% endif %}">
    <span class="block font-bold italic text-lg {% if type == "success" %}text-insight-success{% elif type == "warning" %}text-insight-warning{% elif type == "error" %}text-insight-danger{% else %}text-insight-info{% endif %}">
        {{ type|default:"Info"|upper }}:
    </span>
    {{ message|markdownify }}
</div>
