{% load i18n insight_tags %}

<div class="flex flex-col w-full">
    <label for={{ tag_id }} class="flex gap-1 text-sm font-bold text-primary mb-1">
        {% if icon %}
            {% icon icon %}
        {% endif %}
        <span class="self-end">{{ label }}</span>
        {% if required %}<span class="text-red-500" aria-label="{% trans 'Required' %}">*</span>{% endif %}
        {% if explanation %}
            <div class="text-secondary" data-insight-tooltip="{{ explanation }}" data-position="top">
                {% icon name="question-mark" size="xs" %}
            </div>
        {% endif %}
    </label>
    <input
        type="{{ input_type }}"
        {% if tag_id %}id="{{ tag_id }}"{% endif %}
        {% if name %}name="{{ name }}"{% endif %}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if value %}value="{{ value }}"{% endif %}
        {% if minimum %}min="{{ minimum }}"{% endif %}
        {% if maximum %}max="{{ maximum }}"{% endif %}
        {% if min_length %}minlength="{{ min_length }}"{% endif %}
        {% if max_length %}maxlength="{{ max_length }}"{% endif %}
        {% if checked %}checked{% endif %}
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
        class="input w-full"
    >
</div>
