{% load i18n insight_tags %}

<!-- Buttons -->
<div class="space-y-4">
    <h3>{% trans "Buttons" %}</h3>
    <div class="flex flex-col md:flex-row items-stretch flex-wrap gap-1">
        <button class="btn btn-primary">
            {% trans "Primary" %}
        </button>
        <button class="btn btn-secondary">
            {% trans "Secondary" %}
        </button>
        <button class="btn btn-success">
            {% trans "Success" %}
        </button>
        <button class="btn btn-warning">
            {% trans "Warning" %}
        </button>
        <button class="btn btn-danger">
            {% trans "Danger" %}
        </button>
        <button class="btn btn-info">
            {% trans "Info" %}
        </button>
        <button disabled class="btn btn-disabled">
            {% trans "Disabled" %}
        </button>
        <button aria-label="{% trans 'Close' %}" class="bg-white h-fit rounded-sm shadow p-3 text-insight-text-primary hover:bg-neutral-200 active:bg-neutral-400 transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
            </svg>
        </button>
        <a href="#" class="underline text-insight-text-link px-6 py-2 hover:text-insight-text-link-hover">
            {% trans "Link" %}
        </a>
    </div>
    <h3>{% trans "Outline Buttons" %}</h3>
    <div class="flex flex-col md:flex-row items-stretch flex-wrap gap-1">
        <button class="btn btn-outline-primary">
            {% trans "Primary" %}
        </button>
        <button class="btn btn-outline-secondary">
            {% trans "Secondary" %}
        </button>
        <button class="btn btn-outline-success">
            {% trans "Success" %}
        </button>
        <button class="btn btn-outline-warning">
            {% trans "Warning" %}
        </button>
        <button class="btn btn-outline-danger">
            {% trans "Danger" %}
        </button>
        <button class="btn btn-outline-info">
            {% trans "Info" %}
        </button>
        <button disabled class="btn btn-outline-disabled">
            {% trans "Disabled" %}
        </button>
    </div>
    <h3>{% trans "Button sizes" %}</h3>
    <div class="flex flex-col md:flex-row items-start flex-wrap gap-1">
        <button class="btn btn-primary btn-large">
            {% trans "Click me!" %}
        </button>
        <button class="btn btn-primary">
            {% trans "Click me!" %}
        </button>
        <button class="btn btn-primary btn-sm">
            {% trans "Click me!" %}
        </button>
        <button class="btn btn-primary btn-xs">
            {% trans "Click me!" %}
        </button>
    </div>
</div>

<!-- Checkboxes -->
<h3>{% trans "Checkboxes" %}</h3>
{% checkbox checkbox=example_checkbox %}

<!-- Radio Buttons -->
<h3>{% trans "Radio Buttons" %}</h3>
{% radio radio=example_radio %}

<!-- Block Radio-Buttons -->
<h3>{% trans "Block Radio Buttons" %}</h3>
{% radio_group radio_group=view_options current_value="card" %}

<!-- Switches / Toggle-Buttons -->
<h3>{% trans "Switches / Toggle-Buttons" %}</h3>
{% toggle toggle=example_toggle %}

<!-- Range-Slider -->
<h3>{% trans "Range-Slider" %}</h3>
{% slider slider=example_slider %}
