{% load insight_tags %}

{% if type == "icon" %}
    <span
        class="inline-flex justify-center items-center text-insight-primary"
        {% if logo_config.alt %}role="img" aria-label="{{ logo_config.alt }}"{% else %}aria-hidden="true"{% endif %}
    >
        {% icon logo_config.icon %}
    </span>
{% elif logo_config.url %}
    <img
        src="{{ logo_config.url }}"
        alt="{{ logo_config.alt }}"
        class="object-contain inline-block w-auto {% if has_dark_variant %}dark:hidden{% endif %}"
        style="height: {{ logo_config.height }}{% if logo_config.width %}; width: {{ logo_config.width }}{% endif %}"
    >
    {% if has_dark_variant %}
        <img
            src="{{ logo_config.url_dark }}"
            alt="{{ logo_config.alt }}"
            class="object-contain hidden w-auto dark:inline-block"
            style="height: {{ logo_config.height }}{% if logo_config.width %}; width: {{ logo_config.width }}{% endif %}"
        >
    {% endif %}
{% endif %}
