{% load i18n insight_tags %}

<!-- Pagination -->
<div class="pagination" hx-indicator="#loading-indicator">
    <div class="flex gap-4 items-end w-full">
        <div class="flex flex-1 gap-1 justify-between w-full h-fit">
            <!-- Previous and first -->
            {% if pagination_config.current_page.has_previous %}
                <a
                    href="{{ pagination_config.request_url }}?page={{ pagination_config.current_page.previous_page_number }}"
                    hx-get="{{ pagination_config.request_url }}?page={{ pagination_config.current_page.previous_page_number }}"
                    hx-target="#list-container"
                    hx-include="#ipp"
                    class="btn btn-primary btn-sm"
                >
                    {% icon name="chevron_left" size="s" %}
                    <span class="sr-only">{% trans "To previous page" %}</span>
                </a>
            {% else %}
                <a class="btn btn-disabled btn-sm">
                    {% icon name="chevron_left" size="s" %}
                    <span class="sr-only">{% trans "To previous page (Deactivated because there are no more previous pages)" %}</span>
                </a>
            {% endif %}

            <!-- Neighbor Pages -->
            <div class="hidden md:flex gap-1 justify-center">
                {% for num in pagination_config.surrounding_pages %}
                    {% if num == pagination_config.current_page.number %}
                        <span class="btn btn-sm bg-insight-primary-active">{{ num }}</span>
                    {% elif num == -1 %}
                        <span class="text-neutral-400 px-4 py-1">...</span>
                    {% else %}
                        <a
                            href="{{ pagination_config.request_url }}?page={{ num }}"
                            hx-get="{{ pagination_config.request_url }}?page={{ num }}"
                            hx-target="#list-container"
                            hx-include="#ipp"
                            class="btn btn-primary btn-sm"
                        >
                            {{ num }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Next and last -->
            {% if pagination_config.current_page.has_next %}
                <a
                    href="{{ pagination_config.request_url }}?page={{ pagination_config.current_page.next_page_number }}"
                    hx-get="{{ pagination_config.request_url }}?page={{ pagination_config.current_page.next_page_number }}"
                    hx-target="#list-container"
                    hx-include="#ipp"
                    class="btn btn-primary btn-sm"
                >
                    {% icon name="chevron_right" size="s" %}
                    <span class="sr-only">{% trans "To next page" %}</span>
                </a>
            {% else %}
                <a class="btn btn-disabled btn-sm">
                    {% icon name="chevron_right" size="s" %}
                    <span class="sr-only">{% trans "To next page (Deactivated because there are no more next pages)" %}</span>
                </a>
            {% endif %}
        </div>

        {% if pagination_config.ipp_config %}
            <!-- Items per page -->
            <form
                id="ipp"
                hx-get="{{ pagination_config.request_url }}"
                hx-target="#list-container"
                hx-trigger="change"
                class="w-32"
            >
                {% select config=pagination_config.ipp_config %}
            </form>
        {% endif %}
    </div>

    <!-- Current Page -->
    <span class="block md:hidden text-secondary mt-2">
        {% trans "Page" %} {{ pagination_config.current_page.number }} {% trans "of" %} {{ pagination_config.current_page.paginator.num_pages }}.
    </span>
</div>
