{% load i18n insight_tags %}

<!-- Pagination -->
<nav role="navigation" aria-label="{% trans 'Pagination' %}" class="pagination" hx-indicator="#loading-indicator">
    <div class="flex gap-4 items-end w-full">
        <div class="flex flex-1 gap-1 justify-between w-full h-fit">
            <!-- Previous and first -->
            {% if pagination_config.current_page.has_previous %}
                {% with page_num=pagination_config.current_page.previous_page_number|stringformat:"s" %}
                    {% with url=pagination_config.request_url|add:"?page="|add:page_num %}
                        {% button request_url=url label=_('To previous page') icon_name='chevron-left' icon_size='s' icon_only=True size='s' hx_get=url hx_target='#list-container' hx_include='#ipp' %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% button label=_('To previous page (Deactivated because there are no more previous pages)') icon_name='chevron-left' icon_size='s' icon_only=True disabled=True size='s' %}
            {% endif %}

            <!-- Neighbor Pages -->
            <div class="hidden gap-1 justify-center md:flex">
                {% for num in pagination_config.surrounding_pages %}
                    {% if num == pagination_config.current_page.number %}
                        <span class="btn btn-s bg-insight-primary-action-active" aria-current="page">{{ num }}</span>
                    {% elif num == -1 %}
                        <span class="px-4 py-1 text-insight-body">...</span>
                    {% else %}
                        {% with page_num=num|stringformat:"s" %}
                            {% with url=pagination_config.request_url|add:"?page="|add:page_num %}
                                {% button request_url=url label=num size='s' hx_get=url hx_target='#list-container' hx_include='#ipp' %}
                            {% endwith %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Next and last -->
            {% if pagination_config.current_page.has_next %}
                {% with page_num=pagination_config.current_page.next_page_number|stringformat:'s' %}
                    {% with url=pagination_config.request_url|add:'?page='|add:page_num %}
                        {% button request_url=url label=_('To next page') icon_name='chevron-right' icon_size='s' icon_only=True size='s' hx_get=url hx_target='#list-container' hx_include='#ipp' %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% button label=_('To next page (Deactivated because there are no more next pages)') icon_name='chevron-right' icon_size='s' icon_only=True disabled=True size='s' %}
            {% endif %}
        </div>

        {% if pagination_config.ipp_config %}
            <!-- Items per page -->
            <form
                id="ipp"
                hx-get="{{ pagination_config.request_url }}"
                hx-target="#list-container"
                hx-trigger="change"
                class="w-32"
            >
                {% select config=pagination_config.ipp_config %}
            </form>
        {% endif %}
    </div>

    <!-- Current Page -->
    <span class="block mt-2 text-insight-body md:hidden">
        {% trans "Page" %} {{ pagination_config.current_page.number }} {% trans "of" %} {{ pagination_config.current_page.paginator.num_pages }}.
    </span>
</nav>
