{% load i18n %}

<div class="bg-white dark:bg-gray-900 rounded-sm">
    <table class="table-fixed w-full">
        <thead class="text-primary">
            <tr class="border-b border-gray-400 dark:border-gray-600">
                <th class="text-start text-sm w-60 px-4 py-2" scope="col">Name</th>
                <th class="text-start text-sm w-28 px-4 py-2" scope="col">Typ</th>
                <th class="text-start text-sm px-4 py-2" scope="col">Beschreibung</th>
                <th class="text-start text-sm w-64 px-4 py-2" scope="col">Standardwert</th>
            </tr>
        </thead>
        <tbody class="text-primary">
            {% for row in rows %}
                <tr class="border-b border-gray-200 dark:border-gray-800">
                    <td class="text-start text-sm w-60 px-4 py-3"><span class="inline-tag">{{ row.0 }}</span></td>
                    <td class="text-start text-sm w-28 px-4 py-3"><i>{{ row.1 }}</i></td>
                    <td class="text-start text-sm px-4 py-3">{{ row.2|safe }}</td>
                    <td class="text-start text-sm w-64 px-4 py-3"><b>{{ row.3 }}</b></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
