<div>
    {% if radio_group_config.label %}
        <span class="flex gap-1 mb-1 font-bold text-sm text-primary">{{ radio_group_config.label }}</span>
    {% endif %}
    <div class="flex {% if not as_row %}flex-col space-y-1{% else %}space-x-4{% endif %}">
        {% for item in radio_group_config.items %}
            <label class="flex gap-1 items-center">
                <input
                    type="radio"
                    {% if item.tag_id %}id="{{ item.tag_id }}"{% endif %}
                    name="{{ radio_group_config.name }}"
                    value="{{ item.value }}"
                    {% if item.disabled %}disabled{% endif %}
                    {% if radio_group_config.current_value == item.value %}checked{% endif %}
                >
                <span class="{% if item.disabled %}text-secondary{% else %}text-primary{% endif %} text-sm">{{ item.label }}</span>
            </label>
        {% endfor %}
    </div>
</div>
