<div class="relative">
    <label class="flex gap-1 text-sm font-bold text-primary" for="{{ tag_id }}">{{ label }}</label>
    <input
        type="range"
        id="{{ tag_id }}"
        name="{{ name }}"
        value="{{ value }}"
        min="{{ minimum }}"
        max="{{ maximum }}"
        step="{{ step_size|default:1 }}"
        {% if disabled %}disabled{% endif %}
        class="range-custom w-full h-2 bg-gray-200 dark:bg-gray-700 rounded-sm appearance-none cursor-pointer"
        oninput="updateSlider(this)"
    >
    <div class="flex justify-between w-full text-sm text-secondary">
        {% for item in items %}
            <span>{{ item }}</span>
        {% endfor %}
    </div>
</div>
<script>
    function updateSlider(slider) {
        const min = slider.min ? slider.min : 0;
        const max = slider.max ? slider.max : 100;
        const val = slider.value;

        const percent = ((val - min) / (max - min)) * 100;
        slider.style.setProperty('--range-progress', `${percent}%`);
    }

    updateSlider(document.getElementById("{{ tag_id }}"));
</script>
