{% load i18n insight_tags %}

<form
    {% if request_url %}
        {% if htmx %}
            hx-get="{% url request_url %}"
            hx-target="{{ htmx.target }}"
            hx-swap="{{ htmx.swap|default:'innerHTML' }}"
            hx-trigger="submit"
            hx-ext="progressive-enhancement"
        {% else %}
            action="{% url request_url %}"
            method="get"
        {% endif %}
    {% endif %}
    class="h-full"
>
    <label for="search" class="sr-only">{% trans "Search" %}</label>
    <div class="relative h-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-secondary">
            {% icon name="search" size="s" %}
        </div>
        <input
            type="search"
            id="search"
            name="search"
            placeholder="{% trans "Browse..." %}"
            value="{{ search_query }}"
            class="block size-full px-3 {% if simple %}text-sm py-2{% else %}py-3 pe-32{% endif %} ps-10 text-primary border insight-border-control insight-surface-base insight-radius-control focus:outline-none focus:ring-2 ring-insight-primary-active"
        />
        {% if not simple %}
            <button class="absolute inset-y-0 end-0 btn btn-primary btn-l rounded-s-none">
                {% trans "Search" %}
            </button>
        {% endif %}
    </div>
</form>
