{% load i18n insight_tags %}

<form
    {% if search_bar_config.request_url %}
        {% if search_bar_config.htmx_config %}
            hx-get="{{ search_bar_config.request_url }}"
            hx-target="{{ search_bar_config.htmx_config.target }}"
            hx-swap="{{ search_bar_config.htmx_config.swap|default:'innerHTML' }}"
            hx-trigger="{{ search_bar_config.htmx_config.trigger|default:'submit' }}"
            hx-vals="{{ search_bar_config.htmx_config.vals }}"
            hx-indicator="{{ search_bar_config.htmx_config.indicator|default:'#loading-indicator' }}"
            hx-push-url="{{ search_bar_config.htmx_config.push_url|default:'False' }}"
        {% else %}
            action="{{ search_bar_config.request_url }}"
            method="get"
        {% endif %}
    {% endif %}
    class="h-full"
>
    <label for="search" class="sr-only">{% trans "Search" %}</label>
    <div class="relative h-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-secondary">
            {% icon name="magnifying-glass" size="s" %}
        </div>
        <input
            type="search"
            id="search"
            name="search"
            placeholder="{% trans 'Browse...' %}"
            value="{{ search_bar_config.search_query }}"
            class="block size-full px-3 {% if search_bar_config.simple %}text-sm py-2{% else %}py-3 pe-32{% endif %} ps-10 text-primary bg-insight-secondary-background border border-insight-primary-border rounded-insight-control focus:outline-none focus:ring-2 ring-insight-primary-active"
        />
        {% if not search_bar_config.simple %}
            {% button label=_("Search") type="primary" size="l" button_type="submit" extra_classes="absolute inset-y-0 end-0 rounded-s-none" %}
        {% endif %}
    </div>
</form>
