{% load insight_tags %}
<div class="flex flex-col w-full">
    <label for={{ config.name }} class="flex gap-1 text-sm font-bold text-primary mb-1">
        {% if config.icon %}
            {% icon config.icon %}
        {% endif %}
        <span class="self-end">{{ config.label }}</span>
        {% if config.explanation %}
            <svg class="size-3 text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" data-tooltip-trigger="{{ filter.name }}-filter-info" data-position="top">
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.008-3.018a1.502 1.502 0 0 1 2.522 1.159v.024a1.44 1.44 0 0 1-1.493 1.418 1 1 0 0 0-1.037.999V14a1 1 0 1 0 2 0v-.539a3.44 3.44 0 0 0 2.529-3.256 3.502 3.502 0 0 0-7-.255 1 1 0 0 0 2 .076c.014-.398.187-.774.48-1.044Zm.982 7.026a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2h-.01Z" clip-rule="evenodd"/>
            </svg>
        {% endif %}
    </label>
    <select id="{{ config.name }}" name="{{ config.name }}" class="w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-sm shadow-sm text-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-white dark:bg-gray-700 dark:text-white transition-colors duration-200">
        {% for option, text in config.values.items %}
            <option value={{ option }} {% if config.name in query_params and option == query_params|get_item:config.name %}selected{% endif %} {% if option == "-" %}disabled{% elif option == "placeholder" %}class="text-gray-400"{% endif %}>
                {{ text }}
            </option>
        {% endfor %}
    </select>
</div>
