{% load i18n insight_tags %}
{# Sidebar Navigation Partial - renders navigation categories and items for use inside a sidebar layout tag. #}

{# Optional title #}
{% if sidebar_data.title %}
  <div class="flex justify-between items-center pb-4 mb-4 border-b border-insight-border-surface">
    <h2 class="flex gap-2 items-center pb-0 text-lg">
      {% if sidebar_data.icon %}
        <div>
          {% icon sidebar_data.icon %}
        </div>
      {% endif %}
      {{ sidebar_data.title }}
    </h2>
  </div>
{% endif %}

{# Navigation categories #}
<nav class="space-y-2">
  <ul>
    {% for category in sidebar_data.categories %}
      <li>
        <div class="flex gap-1 pt-4 pb-2 text-insight-primary-hover">
          {% if category.icon %}
            {% icon category.icon %}
          {% endif %}
          <span class="font-semibold tracking-wide">{{ category.caption }}</span>
        </div>
        <ul>
          {% for item in category.items %}
            <li data-insight-side-nav>
              <a
                {% if item.htmx %}
                  hx-get="{{ item.htmx.request_url|default:item.request_url }}"
                  hx-target="{{ item.htmx.target }}"
                  hx-swap="{{ item.htmx.swap|default:'innerHTML' }} show:window:top"
                  hx-push-url="true"
                  hx-on::after-request="document.body.dispatchEvent(new Event('PageChanged'))"
                {% endif %}
                href="{{ item.request_url }}"
                class="flex gap-2 px-4 py-1 text-sm text-primary tracking-wide border-s border-insight-border-surface hover:border-insight-text-secondary hover:text-insight-text-secondary"
              >
                {% if item.icon %}
                  {% icon item.icon %}
                {% endif %}
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>
