{% load i18n insight_tags %}

<div class="bg-insight-primary-background rounded-sm overflow-auto">
    <table class="table-auto w-full">
        {% if table_config.caption %}
            <caption class="text-sm text-secondary">{{ table_config.caption }}</caption>
        {% endif %}

        {% if table_config.headers %}
            <thead class="text-primary">
                <tr class="border-b border-insight-primary-border">
                    {% for header in table_config.headers %}
                        <th class="text-start text-sm px-4 py-2" scope="col">
                            {% if sortable %}
                                <div class="flex items-center gap-1">
                                    <span>{{ header }}</span>
                                    {% icon name="chevron-up-down" size="xs" %}
                                </div>
                            {% else %}
                                {{ header }}
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
        {% endif %}

        <tbody class="text-primary">
            {% for row in table_config.rows %}
                <tr class="odd:bg-insight-tertiary-background even:bg-insight-primary-background">
                    {% for cell in row %}
                        <td class="text-start text-sm px-4 py-3">{{ cell|safe }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tfoot>
                    <tr>
                        <td colspan="{{ table_config.headers|length }}" class="w-full border-t border-insight-primary-border text-secondary text-center pt-16">
                            {{ table_config.empty_msg }}
                        </td>
                    </tr>
                </tfoot>
            {% endfor %}
        </tbody>
    </table>
</div>
