{% load i18n insight_tags %}

<div data-insight-tabs="{{ config.id }}">
  <div
    role="tablist"
    aria-label="{{ config.label }}"
    class="flex border-b border-gray-200 dark:border-gray-500"
  >
    {% for tab in config.tabs %}
      <button
        id="{{ tab.id }}"
        role="tab"
        aria-controls="panel-{{ forloop.counter }}"
        hx-get="{{ tab.url }}"
        hx-target="#{{ config.id }}-tab-content"
        hx-swap="innerHTML"
        class="px-4 py-2 -mb-px border-b border-gray-200 dark:border-gray-500 font-semibold text-primary hover:border-insight-primary-hover hover:text-insight-primary-hover focus:outline-none focus:border-insight-primary-active focus:text-insight-primary-active transition-colors duration-300"
      >
        {% if tab.icon %}
          {% icon tab.icon %}
        {% endif %}
        {{ tab.title }}
      </button>
    {% endfor %}
  </div>
  <div
    id="{{ config.id }}-tab-content"
    role="tabpanel"
    aria-label="{% trans 'Tab content' %}"
  >
    <!-- Content -->
  </div>
</div>
