{% load i18n insight_tags %}

<div data-insight-tabs="{{ config.tag_id }}">
  <div
    role="tablist"
    aria-label="{{ config.label }}"
    class="flex border-b border-insight-border-surface"
  >
    {% for tab in config.tabs %}
      <button
        id="{{ tab.tag_id }}"
        role="tab"
        aria-controls="panel-{{ forloop.counter }}"
        hx-get="{{ tab.url }}"
        hx-target="#{{ config.tag_id }}-tab-content"
        hx-swap="innerHTML"
        class="px-4 py-2 -mb-px font-semibold text-primary border-b border-insight-border-surface transition-colors duration-300 hover:border-insight-primary-hover hover:text-insight-primary-hover focus:outline-none focus:border-insight-primary-active focus:text-insight-primary-active"
      >
        {% if tab.icon %}
          {% icon tab.icon %}
        {% endif %}
        {{ tab.title }}
      </button>
    {% endfor %}
  </div>
  <div
    id="{{ config.tag_id }}-tab-content"
    role="tabpanel"
    aria-label="{% trans 'Tab content' %}"
  >
    <!-- Content -->
  </div>
</div>
