{% load i18n insight_tags %}

<div class="flex flex-col w-full">
    <label for={{ name }} class="flex gap-1 text-sm font-bold text-primary mb-1">
        {% if icon %}
            {% icon icon %}
        {% endif %}
        <span class="self-end">{{ label }}</span>
        {% if required %}<span class="text-red-500" aria-label="{% trans 'Required' %}">*</span>{% endif %}
        {% if explanation %}
            <div class="text-secondary" data-insight-tooltip="{{ explanation }}" data-position="top">
                {% icon name="question-mark" size="xs" %}
            </div>
        {% endif %}
    </label>
    <textarea
        type="textarea"
        {% if tag_id %}id="{{ tag_id }}"{% endif %}
        {% if name %}name="{{ name }}"{% endif %}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if rows %}rows="{{ rows }}"{% endif %}
        {% if cols %}cols="{{ cols }}"{% endif %}
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
        class="input w-full"
    >{{ value|default:"" }}</textarea>
</div>
