{% load insight_tags %}

{% if switch %}
    <label class="inline-flex flex-col cursor-pointer w-fit">
        <span class="flex gap-1 text-sm font-bold text-primary mb-2">{{ label }}</span>
        <input
            type="checkbox"
            {% if tag_id %}id="{{ tag_id }}"{% endif %}
            {% if name %}name="{{ name }}"{% endif %}
            {% if value %}value="{{ value }}"{% endif %}
            {% if checked %}checked{% endif %}
            {% if disabled %}disabled{% endif %}
            {% if method %}onclick="{{ method }}()"{% endif %}
            class="peer sr-only"
        >
        <div class="relative w-10 h-3 bg-gray-300 rounded-full peer peer-focus:outline-2 outline-gray-400  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:-top-1.5 after:start-[-3px] after:bg-white after:border-gray-300 after: after:border after:rounded-full after:size-6 after:transition-all peer-checked:bg-insight-primary transition"></div>
    </label>
{% else %}
    <div class="inline-block h-full w-fit">
        <input
            type="checkbox"
            {% if tag_id %}id="{{ tag_id }}"{% endif %}
            {% if name %}name="{{ name }}"{% endif %}
            {% if value %}value="{{ value }}"{% endif %}
            {% if checked %}checked{% endif %}
            {% if disabled %}disabled{% endif %}
            {% if method %}onclick="{{ method }}()"{% endif %}
            class="peer sr-only"
        >
        <label
            for="{{ tag_id }}"
            class="btn btn-sm btn-primary h-full cursor-pointer select-none peer-focus:outline-2 outline-insight-primary-hover peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active"
        >
            {% if icon %}
                {% icon icon %}
            {% endif %}
            {{ label|default:"" }}
        </label>
    </div>
{% endif %}
