{% load i18n insight_tags %}

<div id="{{ tag_id }}">
  <div class="flex justify-end w-full mb-2">
    {% radio_block config=view_radio_config hx_target_id=tag_id %}
  </div>
  {% if view_radio_config.current_value == 'carousel' %}
    {% carousel carousel_items=cards show_index=True items_per_slide=2 %}
  {% elif view_radio_config.current_value == 'card' %}
    <div class="flex flex-wrap gap-6">
      {% for card in cards %}
        {% card title=card.title subtitle=card.subtitle content=card.content actions=card.actions %}
      {% endfor %}
    </div>
  {% else %}
    {% table config=table_config %}
  {% endif %}
</div>
