{% load insight_tags %}

{% if toggle.switch %}
    <div class="flex flex-col space-y-2">
        <label class="inline-flex items-center cursor-pointer w-fit">
            <input id="{{ toggle.id }}" type="checkbox" value="" {% if method %}onclick="{{ method }}()"{% endif %} class="peer sr-only">
            <div class="relative w-10 h-3 bg-gray-300 rounded-full peer peer-focus:outline-2 outline-gray-400 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:top-[-6px] after:start-[-3px] after:bg-white after:border-gray-300 after:dark:border-gray-700 after:border after:rounded-full after:size-6 after:transition-all peer-checked:bg-insight-primary transition"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ toggle.text }}</span>
        </label>
    </div>
{% else %}
    <div class="inline-block h-full">
        <input id="{{ toggle.id }}" type="checkbox" value="" {% if method %}onclick="{{ method }}()"{% endif %} class="peer hidden" />
        <label
            for="{{ toggle.id }}"
            class="btn btn-sm btn-primary h-full cursor-pointer select-none peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active"
        >
            {% if toggle.icon %}
                {% icon toggle.icon %}
            {% endif %}
            {{ toggle.text }}
        </label>
    </div>
{% endif %}
