{% load insight_tags %}

{% if toggle_config.switch %}
    <label class="inline-flex flex-col cursor-pointer w-fit">
        <span class="flex gap-1 text-sm font-bold text-primary mb-2">{{ toggle_config.label }}</span>
        <input
            type="checkbox"
            {% if toggle_config.tag_id %}id="{{ toggle_config.tag_id }}"{% endif %}
            {% if toggle_config.name %}name="{{ toggle_config.name }}"{% endif %}
            {% if toggle_config.value %}value="{{ toggle_config.value }}"{% endif %}
            {% if toggle_config.checked %}checked{% endif %}
            {% if toggle_config.disabled %}disabled{% endif %}
            {% if toggle_config.method %}onclick="{{ toggle_config.method }}()"{% endif %}
            class="peer sr-only"
        >
        <div class="relative w-10 h-3 bg-insight-quaternary-background rounded-insight-full peer peer-focus:outline-2 outline-insight-tertiary-border peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full after:content-[''] after:absolute after:-top-1.5 after:start-[-3px] after:bg-insight-secondary-background after:border-insight-primary-border after:border after:rounded-insight-full after:size-6 after:transition-all peer-checked:bg-insight-primary transition"></div>
    </label>
{% else %}
    <div class="inline-block h-full w-fit">
        <input
            type="checkbox"
            {% if toggle_config.tag_id %}id="{{ toggle_config.tag_id }}"{% endif %}
            {% if toggle_config.name %}name="{{ toggle_config.name }}"{% endif %}
            {% if toggle_config.value %}value="{{ toggle_config.value }}"{% endif %}
            {% if toggle_config.checked %}checked{% endif %}
            {% if toggle_config.disabled %}disabled{% endif %}
            {% if toggle_config.method %}onclick="{{ toggle_config.method }}()"{% endif %}
            class="peer sr-only"
        >
        <label
            for="{{ toggle_config.tag_id }}"
            class="btn btn-s btn-primary h-full cursor-pointer select-none peer-focus:outline-2 outline-insight-primary-hover peer-checked:bg-insight-primary-active peer-checked:border-insight-primary-active"
        >
            {% if toggle_config.icon %}
                {% icon toggle_config.icon %}
            {% endif %}
            {{ toggle_config.label|default:"" }}
        </label>
    </div>
{% endif %}
