{% load i18n insight_tags %}

{% if user.is_authenticated %}
    {# User-Dropdown menu #}
    <div class="relative h-full">
        <button type="button" data-insight-dropdown="user-menu" class="btn-subtle-secondary rounded-insight-full size-10 overflow-hidden" aria-label="{{ user_avatar_alt|default:user.get_username }}">
            {% if user_avatar_url %}
                <img src="{{ user_avatar_url }}" alt="{{ user_avatar_alt|default:user.get_username }}" class="size-full rounded-insight-full object-cover">
            {% else %}
                {{ user.get_username|default:''|slice:":1"|upper }}
            {% endif %}
        </button>
        <div class="hidden absolute top-full z-50 mt-2 min-w-56 text-lg bg-insight-secondary-background border border-insight-secondary-border rounded-insight-overlay shadow-insight-overlay divide-y divide-insight-secondary-border ltr:right-0 rtl:left-0" id="user-menu">
            <span class="flex flex-col gap-1 text-xs px-6 py-1">
                <span class="text-secondary">{% trans "Logged in as" %}: </span>
                <span class="font-bold ">{{ user.get_username }}</span>
            </span>
            <ul>
                {% for link in user_dropdown_links %}
                    <li>
                        {% if not link.staff_only or user.is_staff %}
                            <a href="{{ link.request_url }}" class="flex items-center gap-2 text-sm w-full px-6 py-2 hover:bg-insight-primary-background">
                                {% if link.icon %}
                                    {% icon link.icon %}
                                {% endif %}
                                {{ link.text }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="flex items-center gap-2 text-sm text-red-500 text-start w-full rounded-insight-control-bottom px-6 py-2 hover:bg-insight-primary-background">
                    {% icon name="arrow-left-on-rectangle" size="s" %}{% trans "Logout" %}
                </button>
            </form>
        </div>
    </div>
{% else %}
    {# Login btn #}
    {% url 'login' as login_url %}
    {% button request_url=login_url label=_("Login") icon_name="user" icon_size="s" type="secondary" size="s" subtle=True extra_classes="lg:*:hidden xl:*:inline-block" %}
{% endif %}
