:root {
    --insight-design-theme-name: alpin;
    --color-insight-primary: #0f766e;
    --color-insight-primary-hover: #14b8a6;
    --color-insight-primary-active: #5eead4;
    --color-insight-secondary: #0369a1;
    --color-insight-secondary-hover: #0284c7;
    --color-insight-secondary-active: #38bdf8;
    --color-insight-text-link: #0f766e;
    --color-insight-text-link-hover: #14b8a6;
}
