:root {
    --insight-design-theme-name: brite;
    --color-insight-text-primary: #212529;
    --color-insight-text-secondary: rgba(33, 37, 41, 0.75);
    --color-insight-text-link: #000;
    --color-insight-text-link-hover: black;
    --color-insight-primary: #a2e436;
    --color-insight-primary-hover: #b0e854;
    --color-insight-primary-active: #b5e95e;
    --color-insight-primary-foreground: #000;
    --color-insight-primary-foreground-hover: #000;
    --color-insight-primary-foreground-active: #000;
    --color-insight-secondary: #fff;
    --color-insight-secondary-hover: white;
    --color-insight-secondary-active: white;
    --color-insight-secondary-foreground: #000;
    --color-insight-secondary-foreground-hover: #000;
    --color-insight-secondary-foreground-active: #000;
    --color-insight-success: #68d391;
    --color-insight-success-hover: #7fdaa2;
    --color-insight-success-active: #86dca7;
    --color-insight-success-foreground: #000;
    --color-insight-success-foreground-hover: #000;
    --color-insight-success-foreground-active: #000;
    --color-insight-info: #22d2ed;
    --color-insight-info-hover: #43d9f0;
    --color-insight-info-active: #4edbf1;
    --color-insight-info-foreground: #000;
    --color-insight-info-foreground-hover: #000;
    --color-insight-info-foreground-active: #000;
    --color-insight-warning: #ffc700;
    --color-insight-warning-hover: #ffcf26;
    --color-insight-warning-active: #ffd233;
    --color-insight-warning-foreground: #000;
    --color-insight-warning-foreground-hover: #000;
    --color-insight-warning-foreground-active: #000;
    --color-insight-danger: #f56565;
    --color-insight-danger-hover: #f77c7c;
    --color-insight-danger-active: #f78484;
    --color-insight-danger-foreground: #000;
    --color-insight-danger-foreground-hover: #000;
    --color-insight-danger-foreground-active: #000;
}

[data-theme="dark"] {
    --color-insight-text-primary-dark: #dee2e6;
    --color-insight-text-secondary-dark: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #c7ef86;
    --color-insight-text-link-hover: #d2f29e;
}
