:root {
    --insight-design-theme-name: cyborg;
    --color-insight-text-primary: #adafae;
    --color-insight-text-secondary: rgba(173, 175, 174, 0.75);
    --color-insight-text-link: #2a9fd6;
    --color-insight-text-link-hover: #227fab;
    --color-insight-primary: #2a9fd6;
    --color-insight-primary-hover: #2487b6;
    --color-insight-primary-active: #227fab;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #555;
    --color-insight-secondary-hover: #484848;
    --color-insight-secondary-active: #444444;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #77b300;
    --color-insight-success-hover: #659800;
    --color-insight-success-active: #5f8f00;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #93c;
    --color-insight-info-hover: #822bad;
    --color-insight-info-active: #7a29a3;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #f80;
    --color-insight-warning-hover: #d97400;
    --color-insight-warning-active: #cc6d00;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #c00;
    --color-insight-danger-hover: #ad0000;
    --color-insight-danger-active: #a30000;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #7fc5e6;
    --color-insight-text-link-hover: #99d1eb;
}
