:root {
    --insight-design-theme-name: flatly;
    --color-insight-text-primary: #212529;
    --color-insight-text-secondary: rgba(33, 37, 41, 0.75);
    --color-insight-text-link: #18bc9c;
    --color-insight-text-link-hover: #13967d;
    --color-insight-primary: #2c3e50;
    --color-insight-primary-hover: #253544;
    --color-insight-primary-active: #233240;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #95a5a6;
    --color-insight-secondary-hover: #7f8c8d;
    --color-insight-secondary-active: #778485;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #18bc9c;
    --color-insight-success-hover: #14a085;
    --color-insight-success-active: #13967d;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #3498db;
    --color-insight-info-hover: #2c81ba;
    --color-insight-info-active: #2a7aaf;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #f39c12;
    --color-insight-warning-hover: #cf850f;
    --color-insight-warning-active: #c27d0e;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #e74c3c;
    --color-insight-danger-hover: #c44133;
    --color-insight-danger-active: #b93d30;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #808b96;
    --color-insight-text-link-hover: #99a2ab;
}
