:root {
    --insight-design-theme-name: journal;
    --color-insight-text-primary: #222;
    --color-insight-text-secondary: rgba(34, 34, 34, 0.75);
    --color-insight-text-link: #eb6864;
    --color-insight-text-link-hover: #bc5350;
    --color-insight-primary: #eb6864;
    --color-insight-primary-hover: #c85855;
    --color-insight-primary-active: #bc5350;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #aaa;
    --color-insight-secondary-hover: #919191;
    --color-insight-secondary-active: #888888;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #22b24c;
    --color-insight-success-hover: #1d9741;
    --color-insight-success-active: #1b8e3d;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #369;
    --color-insight-info-hover: #2b5782;
    --color-insight-info-active: #29527a;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #f5e625;
    --color-insight-warning-hover: #d0c41f;
    --color-insight-warning-active: #c4b81e;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #f57a00;
    --color-insight-danger-hover: #d06800;
    --color-insight-danger-active: #c46200;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary-dark: #dee2e6;
    --color-insight-text-secondary-dark: rgba(222, 226, 230, 0.75);
    --color-insight-text-primary: var(--color-insight-text-primary-dark);
    --color-insight-text-secondary: var(--color-insight-text-secondary-dark);
    --color-insight-text-link: #f3a4a2;
    --color-insight-text-link-hover: #f5b6b5;
}
