:root {
    --insight-design-theme-name: litera;
    --color-insight-text-primary: #343a40;
    --color-insight-text-secondary: rgba(52, 58, 64, 0.75);
    --color-insight-text-link: #4582ec;
    --color-insight-text-link-hover: #3768bd;
    --color-insight-primary: #4582ec;
    --color-insight-primary-hover: #3b6fc9;
    --color-insight-primary-active: #3768bd;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #adb5bd;
    --color-insight-secondary-hover: #939aa1;
    --color-insight-secondary-active: #8a9197;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #02b875;
    --color-insight-success-hover: #029c63;
    --color-insight-success-active: #02935e;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #17a2b8;
    --color-insight-info-hover: #148a9c;
    --color-insight-info-active: #128293;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #f0ad4e;
    --color-insight-warning-hover: #cc9342;
    --color-insight-warning-active: #c08a3e;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #d9534f;
    --color-insight-danger-hover: #b84743;
    --color-insight-danger-active: #ae423f;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary-dark: #ddd;
    --color-insight-text-secondary-dark: rgba(221, 221, 221, 0.75);
    --color-insight-text-primary: var(--color-insight-text-primary-dark);
    --color-insight-text-secondary: var(--color-insight-text-secondary-dark);
    --color-insight-text-link: #8fb4f4;
    --color-insight-text-link-hover: #a5c3f6;
}
