:root {
    --insight-design-theme-name: lumen;
    --color-insight-text-primary: #222;
    --color-insight-text-secondary: rgba(34, 34, 34, 0.75);
    --color-insight-text-link: #158cba;
    --color-insight-text-link-hover: #117095;
    --color-insight-primary: #158cba;
    --color-insight-primary-hover: #12779e;
    --color-insight-primary-active: #117095;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #f0f0f0;
    --color-insight-secondary-hover: #f2f2f2;
    --color-insight-secondary-active: #f3f3f3;
    --color-insight-secondary-foreground: #000;
    --color-insight-secondary-foreground-hover: #000;
    --color-insight-secondary-foreground-active: #000;
    --color-insight-success: #28b62c;
    --color-insight-success-hover: #229b25;
    --color-insight-success-active: #209223;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #75caeb;
    --color-insight-info-hover: #63acc8;
    --color-insight-info-active: #5ea2bc;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #ff851b;
    --color-insight-warning-hover: #d97117;
    --color-insight-warning-active: #cc6a16;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #ff4136;
    --color-insight-danger-hover: #d9372e;
    --color-insight-danger-active: #cc342b;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #73bad6;
    --color-insight-text-link-hover: #8fc8de;
}
