:root {
    --insight-design-theme-name: morph;
    --color-insight-text-primary: #7b8ab8;
    --color-insight-text-secondary: rgba(123, 138, 184, 0.75);
    --color-insight-text-link: #485785;
    --color-insight-text-link-hover: #3a466a;
    --color-insight-primary: #378dfc;
    --color-insight-primary-hover: #2f78d6;
    --color-insight-primary-active: #2c71ca;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #d9e3f1;
    --color-insight-secondary-hover: #dfe7f3;
    --color-insight-secondary-active: #e1e9f4;
    --color-insight-secondary-foreground: #000;
    --color-insight-secondary-foreground-hover: #000;
    --color-insight-secondary-foreground-active: #000;
    --color-insight-success: #43cc29;
    --color-insight-success-hover: #39ad23;
    --color-insight-success-active: #36a321;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #5b62f4;
    --color-insight-info-hover: #4d53cf;
    --color-insight-info-active: #494ec3;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #ffc107;
    --color-insight-warning-hover: #d9a406;
    --color-insight-warning-active: #cc9a06;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #e52527;
    --color-insight-danger-hover: #c31f21;
    --color-insight-danger-active: #b71e1f;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #87bbfd;
    --color-insight-text-link-hover: #9fc9fd;
}
