:root {
    --insight-design-theme-name: pulse;
    --color-insight-text-primary: #444;
    --color-insight-text-secondary: rgba(68, 68, 68, 0.75);
    --color-insight-text-link: #593196;
    --color-insight-text-link-hover: #593196;
    --color-insight-primary: #593196;
    --color-insight-primary-hover: #4c2a80;
    --color-insight-primary-active: #472778;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #a991d4;
    --color-insight-secondary-hover: #907bb4;
    --color-insight-secondary-active: #8774aa;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #13b955;
    --color-insight-success-hover: #109d48;
    --color-insight-success-active: #0f9444;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #009cdc;
    --color-insight-info-hover: #0085bb;
    --color-insight-info-active: #007db0;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #efa31d;
    --color-insight-warning-hover: #cb8b19;
    --color-insight-warning-active: #bf8217;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #fc3939;
    --color-insight-danger-hover: #d63030;
    --color-insight-danger-active: #ca2e2e;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #ededed;
    --color-insight-text-secondary: rgba(237, 237, 237, 0.75);
    --color-insight-text-link: #9b83c0;
    --color-insight-text-link-hover: #af9ccd;
}
