:root {
    --insight-design-theme-name: spacelab;
    --color-insight-text-primary: #777;
    --color-insight-text-secondary: rgba(119, 119, 119, 0.75);
    --color-insight-text-link: #3399f3;
    --color-insight-text-link-hover: #297ac2;
    --color-insight-primary: #446e9b;
    --color-insight-primary-hover: #3a5e84;
    --color-insight-primary-active: #36587c;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #999;
    --color-insight-secondary-hover: #828282;
    --color-insight-secondary-active: #7a7a7a;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #3cb521;
    --color-insight-success-hover: #339a1c;
    --color-insight-success-active: #30911a;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #3399f3;
    --color-insight-info-hover: #2b82cf;
    --color-insight-info-active: #297ac2;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #d47500;
    --color-insight-warning-hover: #b46300;
    --color-insight-warning-active: #aa5e00;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #cd0200;
    --color-insight-danger-hover: #ae0200;
    --color-insight-danger-active: #a40200;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #8fa8c3;
    --color-insight-text-link-hover: #a5b9cf;
}
