:root {
    --insight-design-theme-name: vapor;
    --color-insight-text-primary: #32fbe2;
    --color-insight-text-secondary: rgba(50, 251, 226, 0.75);
    --color-insight-text-link: #32fbe2;
    --color-insight-text-link-hover: #28c9b5;
    --color-insight-primary: #6f42c1;
    --color-insight-primary-hover: #5e38a4;
    --color-insight-primary-active: #59359a;
    --color-insight-primary-foreground: #fff;
    --color-insight-primary-foreground-hover: #fff;
    --color-insight-primary-foreground-active: #fff;
    --color-insight-secondary: #ea39b8;
    --color-insight-secondary-hover: #c7309c;
    --color-insight-secondary-active: #bb2e93;
    --color-insight-secondary-foreground: #fff;
    --color-insight-secondary-foreground-hover: #fff;
    --color-insight-secondary-foreground-active: #fff;
    --color-insight-success: #3cf281;
    --color-insight-success-hover: #33ce6e;
    --color-insight-success-active: #30c267;
    --color-insight-success-foreground: #fff;
    --color-insight-success-foreground-hover: #fff;
    --color-insight-success-foreground-active: #fff;
    --color-insight-info: #1ba2f6;
    --color-insight-info-hover: #178ad1;
    --color-insight-info-active: #1682c5;
    --color-insight-info-foreground: #fff;
    --color-insight-info-foreground-hover: #fff;
    --color-insight-info-foreground-active: #fff;
    --color-insight-warning: #ffc107;
    --color-insight-warning-hover: #d9a406;
    --color-insight-warning-active: #cc9a06;
    --color-insight-warning-foreground: #fff;
    --color-insight-warning-foreground-hover: #fff;
    --color-insight-warning-foreground-active: #fff;
    --color-insight-danger: #e44c55;
    --color-insight-danger-hover: #c24148;
    --color-insight-danger-active: #b63d44;
    --color-insight-danger-foreground: #fff;
    --color-insight-danger-foreground-hover: #fff;
    --color-insight-danger-foreground-active: #fff;
}

[data-theme="dark"] {
    --color-insight-text-primary: #dee2e6;
    --color-insight-text-secondary: rgba(222, 226, 230, 0.75);
    --color-insight-text-link: #a98eda;
    --color-insight-text-link-hover: #baa5e1;
}
