{% load i18n insight_tags %}

<div class="flex flex-col lg:flex-row gap-1">
    {% if index != 0 %}
        {# Logic #}
        <div class="flex gap-1 items-center text-primary pe-2">
            <input type="radio" id="optionAND" name="logic{{ index }}" value="AND" {% if not selected_logic or selected_logic == "AND" %}checked{% endif %}>
            <label for="optionAND" class="pe-2">
                AND
            </label>
            <input type="radio" id="optionOR" name="logic{{ index }}" value="OR" {% if selected_logic == "OR" %}checked{% endif %}>
            <label for="optionOR">
                OR
            </label>
        </div>
    {% endif %}
    <div class="w-full lg:w-48 xl:w-64">
        {# Field #}
        <label for="field" class="sr-only">{% trans "Select the field of the filter" %}</label>
        <select id="field" name="field" class="field-select block w-full h-9 input">
            <option value="" {% if not selected_value %}selected{% endif %}>{% trans "-- Attribute --" %}</option>
            {% for field in model_fields %}
                <option value="{{ field.field }}" {% if selected_field == field.field %}selected{% endif %}>{{ field.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="w-full lg:w-48 xl:w-64">
        {# Operator #}
        <label for="operator" class="sr-only">{% trans "Select the operator of the filter" %}</label>
        <select id="operator" name="operator" class="operator-select block w-full h-9 input">
            {# This option is used to retain the selected value #}
            <option value="{{ filter_operator }}" selected>{{ filter_operator }}</option>
            {# Operators are loaded dynamically here #}
        </select>
    </div>
    <div class="w-full lg:w-48 xl:w-64">
        {# Input #}
        <label for="value" class="sr-only">{% trans "Specify the value of the filter" %}</label>
        <input
            type="text" id="value" name="value" placeholder="{% trans 'Value' %}"
            {% if filter_value %} value="{{ filter_value }}" {% endif %}
            class="value-field block w-full h-9 input"
        >
    </div>
    {% if index != 0 %}
        <button type="button" class="remove-filter btn btn-outline-danger h-9">
            {% icon name="x-mark" size="s" %}
            <span class="sr-only">{% trans "Remove filter" %}</span>
        </button>
    {% endif %}
</div>
