{% load i18n %}

<!-- Filter -->
<div class="flex flex-col gap-6 border-y py-2">
	<form id="filter-form" class="w-2/3">
        <p class="pb-2">{% trans "The following conditions must be met:" %}</p>
		<div id="filters" class="flex flex-col gap-2">
			{% for filter in custom_filters %}
                <div class="filter flex flex-col gap-2">
				    {% include "insight_ui/components/search_query_builder/sq_builder_filter.html" with index=forloop.counter0 selected_field=filter.field filter_operator=filter.operator filter_value=filter.value selected_logic=filter.logic %}
			    </div>
                {% empty %}
                <div class="filter flex flex-col gap-2">
				    {% include "insight_ui/components/search_query_builder/sq_builder_filter.html" with index=0 %}
                </div>
			{% endfor %}
		</div>
		<div class="flex gap-1 mt-6">
            <button id="add-filter-btn" onclick="addFilter()" type="button" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </button>
			<button type="submit" class="btn btn-primary">
				{% trans "Apply" %}
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
					<path fill-rule="evenodd" d="M4.755 10.059a7.5 7.5 0 0 1 12.548-3.364l1.903 1.903h-3.183a.75.75 0 1 0 0 1.5h4.992a.75.75 0 0 0 .75-.75V4.356a.75.75 0 0 0-1.5 0v3.18l-1.9-1.9A9 9 0 0 0 3.306 9.67a.75.75 0 1 0 1.45.388Zm15.408 3.352a.75.75 0 0 0-.919.53 7.5 7.5 0 0 1-12.548 3.364l-1.902-1.903h3.183a.75.75 0 0 0 0-1.5H2.984a.75.75 0 0 0-.75.75v4.992a.75.75 0 0 0 1.5 0v-3.18l1.9 1.9a9 9 0 0 0 15.059-4.035.75.75 0 0 0-.53-.918Z" clip-rule="evenodd" />
				</svg>
			</button>
		</div>
	</form>
</div>
<script>
    // AJAX request to load the permitted operators and related values from the backend
    function updateOperators(fieldSelect, clearInput = true) {
        // Get related operator selection and input field
        const operatorSelect = fieldSelect.closest('.filter').querySelector('.operator-select');
		const valueField = fieldSelect.closest('.filter').querySelector('.value-field');

        // Clear input
        if (clearInput)	valueField.value = "";

        const field = fieldSelect.value;
        const operatorValue = operatorSelect.value;
        if (field)
        {
            // Make request to retrieve the field specific operators
            fetch(`{% url "get_allowed_operators" %}?field=${field}&ov_list={{ ov_list }}`)
                .then(response => response.json())
                .then(data => {
                    operatorSelect.innerHTML = "";
                    // Load available operators
                    for (const [key, value] of Object.entries(data.operators)) {
                        const option = document.createElement('option');
                        option.value = key;
                        option.textContent = value;
                        if (option.value == operatorValue)
                            option.selected = true;
                        operatorSelect.appendChild(option);
                    };

                    if (Object.keys(data.values).length != 0)
                    {
                        // Hide operator selection, if specific values are given
                        operatorSelect.parentNode.classList.add("hidden");

                        // Replace the text-input field with a select dropdown
                        newSelect = document.createElement('select');
                        newSelect.id ="value";
                        newSelect.name = "value";
                        newSelect.value = valueField.value;
                        newSelect.classList.add("value-field", "block", "w-64", "h-9", "px-3", "border", "border-gray-300", "dark:border-gray-600", "rounded-sm", "shadow-sm", "text-sm", "focus:ring-2", "focus:ring-blue-500", "focus:border-blue-500", "dark:bg-gray-700", "dark:text-white", "transition-colors", "duration-200");
                        // Load available values
                        for (const [key, value] of Object.entries(data.values)) {
                            const option = document.createElement('option');
                            option.value = key;
                            option.textContent = value;
                            if (option.value == valueField.value)
                                option.selected = true;
                            newSelect.appendChild(option);
                        }
                        valueField.parentNode.replaceChild(newSelect, valueField);
                    }
                    else
                    {
                        // Show operator select if no specific values are given
                        operatorSelect.parentNode.classList.remove("hidden");

                        // Replace the select dropdown with a text-input field
                        newInput = document.createElement('input');
                        newInput.id = "value";
                        newInput.name = "value";
                        newInput.type = data.inputType;
                        if (newInput.type == "date")
                        {
                            newInput.max= "9999-12-31";  // No years with more than 4 digits please
                            newInput.required = true;
                        }
                        newInput.value = valueField.value;
                        newInput.placeholder = "{% trans 'Value' %}";
                        newInput.classList.add("value-field", "block", "w-64", "h-9", "px-3", "border", "border-gray-300", "dark:border-gray-600", "rounded-sm", "shadow-sm", "text-sm", "focus:ring-2", "focus:ring-blue-500", "focus:border-blue-500", "dark:bg-gray-700", "dark:text-white", "transition-colors", "duration-200");
                        valueField.parentNode.replaceChild(newInput, valueField);
                    }
                });
        }
        else {
            operatorSelect.innerHTML = "";
            valueField.required = false;
        }

        // Add placeholder for the operator selection
        const placeholderOption = document.createElement('option');
        placeholderOption.value = "";
        placeholderOption.textContent = "-- Operation --";
        placeholderOption.disabled = true;
        placeholderOption.selected = true;
        placeholderOption.hidden = true;
        operatorSelect.appendChild(placeholderOption);
    }

    // Add event listener for existing "field" dropdown menus
    document.querySelectorAll('.field-select').forEach(fieldSelect => {
        fieldSelect.addEventListener('change', function() {
            updateOperators(fieldSelect);
        });
    });

    // Initialize operators for existing fields
    document.querySelectorAll('.filter').forEach(filterDiv => {
        const fieldSelect = filterDiv.querySelector('.field-select');
        updateOperators(fieldSelect, false);
    });

    // Add Filter Button
	function addFilter() {
        const uniqueGroupId = crypto.randomUUID();

        // Create a new filter
        const filterDiv = document.createElement('div');
        filterDiv.classList.add('filter', 'flex', 'flex-col', 'gap-2');
        filterDiv.innerHTML = `{% include "insight_ui/components/search_query_builder/sq_builder_filter.html" %}`;
        filterDiv.innerHTML = filterDiv.innerHTML.replace(/logic/g, "logic-" + uniqueGroupId);
        document.getElementById('filters').appendChild(filterDiv);

        // Update the operators for the new dropdown
        const fieldSelect = filterDiv.querySelector('.field-select');
        updateOperators(fieldSelect);

		// Add event listener for the new dropdown
		fieldSelect.addEventListener('change', function() {
            updateOperators(fieldSelect);
        });
    };

    // Removing a filter
    document.addEventListener('click', function(e) {
        const removeButton = e.target.closest('.remove-filter');
        if (removeButton) {
            removeButton.closest('.filter')?.remove();
        }
    });

    // Submit-Handler
    document.getElementById('filter-form').addEventListener('submit', function(e) {
        e.preventDefault();

        const filters = [];
        // Collect filter values
        document.querySelectorAll('.filter').forEach(function(filterDiv) {
            const field = filterDiv.querySelector('[name="field"]').value;
            const operator = filterDiv.querySelector('[name="operator"]').value;
            const value = filterDiv.querySelector('[name="value"]').value;
            const logicValue = filterDiv.querySelector('[name^="logic"]:checked');

            let logic = null;
            if (logicValue)
                logic = logicValue.value;

            filters.push({ field, operator, value, logic });
        });

        // Build url and make request
        const url = new URL(window.location.href);
        url.searchParams.set('custom_filters', JSON.stringify(filters));
        window.location.href = url;
    });
</script>
