{% load i18n %}

<div class="flex flex-col lg:flex-row gap-1">
    {% if index != 0 %}
        <!-- Logic -->
        <div class="flex gap-1 items-center text-primary pe-2">
            <input type="radio" id="optionAND" name="logic{{ index }}" value="AND" {% if not selected_logic or selected_logic == "AND" %}checked{% endif %}>
            <label for="optionAND" class="pe-2">
                AND
            </label>
            <input type="radio" id="optionOR" name="logic{{ index }}" value="OR" {% if selected_logic == "OR" %}checked{% endif %}>
            <label for="optionOR">
                OR
            </label>
        </div>
    {% endif %}
    <div class="w-full lg:w-48 xl:w-64">
        <!-- Field -->
        <select name="field" class="field-select block w-full h-9 px-3 border border-gray-300 dark:border-gray-600 rounded-sm shadow-sm text-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-white transition-colors duration-200">
            <option value="" {% if not selected_value %}selected{% endif %}>{% trans "-- Attribute --" %}</option>
            {% for field in model_fields %}
                <option value="{{ field.field }}" {% if selected_field == field.field %}selected{% endif %}>{{ field.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="w-full lg:w-48 xl:w-64">
        <!-- Operator -->
        <select name="operator" class="operator-select block w-full h-9 px-3 border border-gray-300 dark:border-gray-600 rounded-sm shadow-sm text-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-white transition-colors duration-200">
            {% comment %} This option is used to retain the selected value {% endcomment %}
            <option value="{{ filter_operator }}" selected>{{ filter_operator }}</option>
            <!-- Operators are loaded dynamically here -->
        </select>
    </div>
    <div class="w-full lg:w-48 xl:w-64">
        <!-- Input -->
        <input
            type="text" name="value" id="value" placeholder="{% trans 'Value' %}"
            {% if filter_value %} value="{{ filter_value }}" {% endif %}
            class="value-field block w-full h-9 px-3 border border-gray-300 dark:border-gray-600 rounded-sm shadow-sm text-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:text-white transition-colors duration-200"
        >
    </div>
    {% if index != 0 %}
        <button type="button" class="remove-filter btn btn-outline-danger h-9">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
        </button>
    {% endif %}
</div>
