{% load static i18n insight_tags %}

<div class="flex flex-col overflow-hidden max-w-72 bg-insight-secondary-background border border-insight-primary-border insight-shadow-raised rounded-insight-surface hover:scale-105 insight-hover-shadow-overlay transition-transform duration-500">
    <img class="w-full" src="{{ app_card_config.image.url }}" alt="{{ app_card_config.image.alt }}">

    {# Title and description #}
    <div class="flex flex-1 flex-col px-4 py-2">
        {% if app_card_config.request_url %}
            <a href="{{ app_card_config.request_url }}">
                <p id="card-title" class="text-primary font-bold text-xl hover:text-insight-text-link-hover mb-2">{{ app_card_config.title }}</p>
            </a>
        {% else %}
            <p id="card-title" class="text-primary font-bold text-xl mb-2">{{ app_card_config.title }}</p>
        {% endif %}
        <p id="card-description" class="text-secondary text-base text-justify hyphens-auto" lang="de">{{ app_card_config.content|safe }}</p>
    </div>

    {# Tags #}
    {% if app_card_config.tags %}
        <div id="card-tags" class="flex flex-wrap gap-1 px-4">
            {% for tag in app_card_config.tags %}
                {% button label=tag type="primary" size="xs" %}
            {% endfor %}
        </div>
    {% endif %}

    {# Start and more #}
    <div class="flex flex-col gap-2 pt-4 m-4 border-t border-insight-primary-border">
        {% for action in app_card_config.actions %}
            {% button config=action %}
        {% endfor %}
    </div>
</div>
