{% load static i18n %}

<div class="bg-gray-100 dark:bg-gray-700 h-56 w-full max-w-96 border insight-border-surface insight-shadow-surface rounded">
  {% if image %}
    <div class="w-full h-24 overflow-hidden">
      <img src="{% static image.url %}" alt="{{ image.alt|default:'' }}" class="w-full object-cover" />
    </div>
  {% endif %}

  <div class="flex flex-col h-full p-6">
    {% if title %}
      <div>
        <h3 class="text-xl text-primary">{{ title }}</h3>
        {% if subtitle %}
          <p class="text-secondary">{{ subtitle }}</p>
        {% endif %}
      </div>
    {% endif %}

    {% if content %}
      <div class="text-primary grow my-4">
        {{ content }}
      </div>
    {% endif %}

    {% if actions %}
      <div class="flex gap-2">
        {% for action in actions %}
          <a href="{{ action.url }}" class="btn btn-{{ action.type }}" {% if action.external %}target="_blank" rel="noopener"{% endif %}>
            {{ action.text }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
