{% load static i18n insight_tags %}

<div class="perspective-distant relative w-72 group">
    <div class="relative size-full transition-transform duration-500 transform-3d group-hover:rotate-y-180">
        <div class="backface-hidden flex flex-col size-full bg-insight-bg-surface border border-insight-border-surface rounded-insight-surface shadow-insight-surface overflow-hidden">
            <img class="backface-hidden w-full" src="{{ flip_card_config.image.url }}" alt="{{ flip_card_config.image.alt }}">

            {# Title and description #}
            <div class="flex flex-1 flex-col px-4 py-2">
                {% if flip_card_config.request_url %}
                    <a href="{{ flip_card_config.request_url }}">
                        <p id="card-title" class="mb-2 font-bold text-primary text-xl hover:text-insight-text-link-hover">{{ flip_card_config.title }}</p>
                    </a>
                {% else %}
                    <p id="card-title" class="mb-2 font-bold text-primary text-xl">{{ flip_card_config.title }}</p>
                {% endif %}
                <p id="card-description" class="hyphens-auto text-secondary text-base text-justify" lang="de">{{ flip_card_config.content|safe }}</p>
            </div>

            {# Tags #}
            {% if flip_card_config.tags %}
                <div id="card-tags" class="flex flex-wrap gap-1 px-4">
                    {% for tag in flip_card_config.tags %}
                        {% button label=tag type="primary" size="xs" %}
                    {% endfor %}
                </div>
            {% endif %}

            {# Start and more #}
            <div class="flex flex-col gap-2 pt-4 m-4 border-t border-insight-border-surface">
                {% for action in flip_card_config.actions %}
                    {% button config=action %}
                {% endfor %}
            </div>
        </div>
        <div class="backface-hidden flex flex-col absolute inset-0 size-full bg-insight-bg-surface border border-insight-border-surface rounded-insight-surface shadow-insight-surface rotate-y-180 overflow-hidden">
            <div class="flex justify-center items-center p-4 h-full">
                <div class="text-lg">{{ flip_card_config.back_content|safe }}</div>
            </div>
        </div>
    </div>
</div>
