{% load static i18n insight_tags %}
{% if INSIGHT_UI.use_tailwind_cli %}
    {% include "insight_ui/tailwind_cli.html" %}
{% endif %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" class="scroll-pt-24">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ INSIGHT_UI.title }}{% endblock %}</title>

        <!-- Favicon -->
        <link rel="manifest" href="{% static 'insight_ui/favicon/site.webmanifest' %}">
        <link rel="icon" href="{% static INSIGHT_UI.favicon %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static INSIGHT_UI.apple_touch_icon %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static INSIGHT_UI.favicon_32 %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static INSIGHT_UI.favicon_16 %}">
        <link rel="mask-icon" href="{% static INSIGHT_UI.safari_mask_icon %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="{{ INSIGHT_UI.msapplication_TileColor }}">
        <meta name="theme-color" content="{{ INSIGHT_UI.theme_color }}">
        <!-- CSRF Token for Django -->
        <meta name="csrf-token" content="{{ csrf_token }}">
        <!-- SEO Meta Tags -->
        <meta name="description" content="{% block meta_description %}{{ INSIGHT_UI.meta.seo.description }}{% endblock meta_description %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ INSIGHT_UI.meta.seo.keywords }}{% endblock meta_keywords %}">
        <meta name="author" content="{% block meta_author %}{{ INSIGHT_UI.meta.seo.author }}{% endblock meta_author %}">

        <!-- HTMX CDN -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.4" integrity="sha384-1RwI/nvUSrMRuNj7hX1+27J8XDdCoSLf0EjEyF69nacuWyiJYoQ/j39RT1mSnd2G" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% if INSIGHT_UI.load_prism %}
            <!-- prism (Syntax-Highlighting) CDN -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/prism.min.js" integrity="sha512-HiD3V4nv8fcjtouznjT9TqDNDm1EXngV331YGbfVGeKUoH+OLkRTCMzA34ecjlgSQZpdHZupdSrqHY+Hz3l6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/plugins/autoloader/prism-autoloader.min.js" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/plugins/line-numbers/prism-line-numbers.min.js" integrity="sha512-BttltKXFyWnGZQcRWj6osIg7lbizJchuAMotOkdLxHxwt/Hyo+cl47bZU0QADg+Qt5DJwni3SbYGXeGMB5cBcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <link rel="stylesheet" href="{% static 'insight_ui/css/prism.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/plugins/line-numbers/prism-line-numbers.min.css" integrity="sha512-cbQXwDFK7lj2Fqfkuxbo5iD1dSbLlJGXGpfTDqbggqjHJeyzx88I3rfwjS38WJag/ihH7lzuGlGHpDBymLirZQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
        {% endif %}

        {% if INSIGHT_UI.load_leaflet %}
            <!-- leaflet (geo) CDN -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="anonymous" referrerpolicy="no-referrer">
        {% endif %}

        {% if INSIGHT_UI.load_echarts %}
            <!-- Apache echarts CDN -->
            <script defer src="https://cdnjs.cloudflare.com/ajax/libs/echarts/6.0.0/echarts.min.js" integrity="sha512-4/g9GAdOdTpUP2mKClpKsEzaK7FQNgMjq+No0rX8XZlfrCGtbi4r+T/p5fnacsEC3zIAmHKLJUL7sh3/yVA4OQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% endif %}

        <!-- Insight UI Modular Utils  -->
        <script defer src="{% static 'insight_ui/js/insight-ui-utils.js' %}"></script>
        <script src="{% static 'insight_ui/js/insight-ui-toc-generator.js' %}"></script>

        <!-- Main stylesheet -->
        <link rel="stylesheet" href="{% static INSIGHT_UI.stylesheet %}">

        {% block extra_head %}{% endblock %}
    </head>
    <body class="size-full min-h-screen dark:bg-gray-900 text-neutral-700 dark:text-neutral-100 transition-colors duration-200 flex flex-col" hx-indicator="#loading-indicator">

        {% block background_image %}
        {% endblock background_image %}

        <header>
            {% block notification %}
                {% comment %}
                <div class="fixed z-50 w-full bg-amber-400 h-12">
                    <p class="text-amber-800 font-bold text-center">
                        ATTENTION! ATTENTION! This is a test message!
                    </p>
                </div>
                {% endcomment %}
            {% endblock notification %}
            {% block navbar %}
            {% endblock navbar %}
        </header>

        {% block drawers %}
        {% endblock drawers %}

        <main id="main" class="flex grow pt-16">
            <div id="left-aside" class="flex">
                {% block sidebar_left %}{% endblock sidebar_left %}
            </div>
            <div id="main-content" class="relative w-full min-w-0">
                <div>
                    <div id="heading" class="bg-insight-primary text-white leading-loose text-lg px-4 md:px-16 pt-16 pb-4">
                        {% block heading %}
                        {% endblock heading %}
                    </div>
                    {% block heading_decoration %}
                        {% heading_decoration %}
                    {% endblock heading_decoration %}
                </div>
                <div id="content" class="w-full space-y-12 text-secondary leading-loose px-4 md:px-16 pb-16">
                    {% include "insight_ui/components/htmx_loading_indicator.html" %}
                    {% block content %}{% endblock content %}
                </div>
            </div>
            <div id="right-aside" class="flex">
                {% block sidebar_right %}{% endblock sidebar_right %}
            </div>
        </main>

        {% block footer %}
        {% endblock footer %}

        {% comment %}
        <!-- Helper to visualize media breakpoints -->
        <div class="fixed flex items-center z-30 bottom-2 left-2 bg-gray-900 rounded-full size-10 text-white text-xs">
            <span class="w-full text-center sm:hidden">-</span>
            <span class="w-full text-center hidden sm:block md:hidden">sm</span>
            <span class="w-full text-center hidden md:block lg:hidden">md</span>
            <span class="w-full text-center hidden lg:block xl:hidden">lg</span>
            <span class="w-full text-center hidden xl:block 2xl:hidden">xl</span>
            <span class="w-full text-center hidden 2xl:block">2xl</span>
        </div>
        {% endcomment %}

        <!-- Insight UI Modular JavaScript -->
        <script>
            window.JS_DEBUG = {{ INSIGHT_UI.JS_DEBUG|yesno:"true,false" }};
        </script>
        <script defer src="{% static 'insight_ui/js/insight-ui-debug.js' %}"></script>
        <script defer src="{% static 'insight_ui/js/insight-ui-utils.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-3D-carousel.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-accordion.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-carousel.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-checkbox.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-code-block.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-collapsible.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-demo-container.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-dropdown.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-floater.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-modal.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-multiselect.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-sidebar.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-tabs.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-theme-toggle.js' %}"></script>
        <script defer src="{% static 'insight_ui/js/insight-ui-websocket.js' %}"></script>
        <script type="module" defer src="{% static 'insight_ui/js/insight-ui-init.js' %}"></script>
        <!-- HTMX Extensions -->
        <script defer src="{% static 'insight_ui/js/insight-ui-htmx-extensions.js' %}"></script>

        {% block extra_scripts %}{% endblock %}
    </body>
</html>
