{% extends "insight_ui/base.html" %}
{% load static insight_tags i18n %}

{% block title %}{% trans 'Insight UI Cards Storybook' %}{% endblock %}

{% block sidebar_right %}
    {% include "insight_ui/components/sidebar.html" with title="Secondary Sidebar" side="right" auto_close=False sidebar_items=right_sidebar_items %}
{% endblock sidebar_right %}
{% block sidebar_left %}
    {% include "insight_ui/components/sidebar.html" with title="Primary Sidebar" side="left" auto_close=True sidebar_items=left_sidebar_items %}
{% endblock sidebar_left %}

{% block navbar %}
    {% navbar config=nav_config user=user user_dropdown_links=user_dropdown_links show_login=True search_query=search_query %}
{% endblock navbar %}

{% block background_image %}
    <img src="{% static "img/hubble-fiction.webp" %}" alt="Hubble Telescope" class="fixed -z-10 w-full h-dvh object-cover opacity-25">
{% endblock background_image %}

{% block content %}
    <div class="w-full space-y-8 py-8 px-4 md:px-24">
        <!-- Welcome -->
        <section>
            <h1 class="text-3xl font-bold text-insight-text-primary dark:text-white mb-4">{% trans 'Insight UI Cards' %}</h1>
            <p class="text-lg text-insight-text-secondary dark:text-insight-text-secondary-dark">
                {% trans 'Card components and different presentation types.' %}
            </p>
        </section>

        <!-- Card Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Cards' %}</h2>
            <div class="flex flex-col md:flex-row items-center md:items-start gap-6">
                {% for card in cards %}
                    {% card title=card.title subtitle=card.subtitle content=card.content actions=card.actions %}
                {% endfor %}
                {% for card in horizontale_cards %}
                    {% card_horizontale title=card.title content=card.content tags=card.tags url=card.url image=card.image actions=card.actions %}
                {% endfor %}
                {% for card in flip_cards %}
                    {% card_flip title=card.title content=card.content tags=card.tags url=card.url image=card.image actions=card.actions %}
                {% endfor %}
            </div>
        </section>

        <!-- Card Carousel Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Card Carousel' %}</h2>
            {% carousel carousel_items=carousel_items show_index=True slides_count=range_total_slides items_per_slide=2 %}
        </section>

        <!-- Image Carousel Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Image Carousel' %}</h2>
            {% include "insight_ui/components/carousels/image_carousel.html" with carousel_items=image_carousel_items show_dots=True show_index=True slides_count=range_total_slides items_per_slide=1 %}
        </section>

        <!--Toggle View Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white">{% trans 'Toggle View' %}</h2>
            {% include "insight_ui/components/toggle_view.html" with id="test" table_data=toggle_table view_options=view_options current_view=toggle_start_view %}
        </section>
    </div>
{% endblock content %}

{% block footer %}
    {% footer data=footer_data %}
{% endblock footer %}
