{% extends "insight_ui/base.html" %}
{% load static insight_tags i18n %}

{% block drawers %}
    {% include "insight_ui/components/sidebar.html" with side="right" auto_close=False sidebar_items=right_sidebar %}
{% endblock drawers %}

{% block navbar %}
    {% navbar config=nav_config user=user user_dropdown_links=user_dropdown_links show_login=True search_query=search_query %}
{% endblock navbar %}

{% block background_image %}
    <img src="{% static "img/hubble-fiction.webp" %}" alt="Hubble Telescope" class="fixed left-1/3 -z-10 w-full h-dvh object-cover opacity-25">
{% endblock background_image %}

{% block sidebar_left %}
    {% include "insight_ui/components/sidebar.html" with sidebar_data=left_sidebar side="left" static=True %}
{% endblock sidebar_left %}

{% block content %}
    <div id="content" class="bg-linear-to-r from-white from-30% to-white/60 dark:from-gray-900 dark:to-gray-900/75 w-full space-y-8 py-16 px-4 md:px-24">
        <h1>Insight UI</h1>

        <section>
            <p class="text-secondary leading-loose">
                Willkommen in der Dokumentation von <b>Insight UI</b>, einem modernen, erweiterbaren und unseren Gestaltungsprinzipien entsprechendes UI-Framework für Django-Projekte.
            </p>
        </section>

        <section>
            <h2>Überblick</h2>
            <p class="text-secondary leading-loose">
                Das Insight UI Framework bietet eine Sammlung von UI-Komponenten und Hilfsmitteln, welche speziell für die Entwicklung von Django Webanwendungen konzipiert sind.
            </p>
            <p class="text-secondary leading-loose mt-4">
                Die Komponenten des Frameworks sind unter Beachtung der <b>Barrierefreiheit</b> implementiert und bieten im Bezug auf <b>Internationalisierung</b> eine Unterstützung für ein <b>RTL-Layout</b> für Sprachen, welche von rechts nach links gelesen werden.
            </p>
            <p class="text-secondary leading-loose mt-4">
                Für Performance unterstützen entsprechende Komponenten die Verwendung von <b>HTMX</b> Requests, um nur einzelne ausschnitte des <b>DOM</b> zu ändern, ohne einen kompletten Seiten-Reload.
            </p>
        </section>

        <section>
            <h2>Installation</h2>
            <div id="install1" data-insight-code-block="bash">
                uv add insight-ui
            </div>
        </section>

        <section>
            <h2>Schnellstart</h2>

            <ol class="text-secondary leading-loose space-y-4">
                <li>
                    <p class="text-secondary leading-loose mb-4">1. <span class="inline-tag">insight_ui</span> zu <span class="inline-tag">INSTALLED_APPS</span> in <b>settings.py</b> hinzufügen:</p>

                    <div id="install2" data-insight-code-block="python">
                        INSTALLED_APPS = [
                            # ...
                            'insight_ui',
                            # ...
                        ]
                    </div>
                </li>
                <li>
                    <p class="text-secondary leading-loose">2. Konfiguration in settings.py hinzufügen und anpassen (siehe Konfiguration)</p>
                </li>
                <li>
                    <p class="text-secondary leading-loose">3. (A) Projekt starten ohne Änderungen am Frontend vornehmen zu wollen</p>
                    <ul class="list-disc ms-8">
                        <li><span class="inline-tag">python manage.py collectstatic</span> um das vorkompilierte insight-ui Stylesheet einzusammeln</li>
                        <li><span class="inline-tag">python manage.py runserver</span> Startet den development Server</li>
                    </ul>
                    <p class="text-secondary leading-loose">3. (B) Projekt aufsetzen und starten, wenn das Frontend weiter entwickelt werden soll</p>
                    <ul class="list-disc ms-8">
                        <li>Django-Tailwind-CLI zu Projekt hinzufügen (<span class="inline-tag">uv add django-tailwind-cli</span>)</li>
                        <li>Zu <span class="inline-tag">INSTALLED_APPS</span> hinzufügen, <span class="inline-tag">STATICFILES_DIRS</span>, <span class="inline-tag">TAILWIND_CLI_SRC_CSS</span> und <span class="inline-tag">TAILWIND_CLI_DIST_CSS</span> definieren</li>
                        <div class="my-4">
                            <div id="install3" data-insight-code-block="python">
                                INSTALLED_APPS = [
                                    # ...
                                    "django_tailwind_cli",
                                    # ...
                                ]

                                # Configure static files directory
                                STATICFILES_DIRS = [BASE_DIR / "assets"]

                                # Tailwind source file
                                TAILWIND_CLI_SRC_CSS = BASE_DIR / ".venv/Lib/site-packages/insight_ui/static/insight_ui/css/input.css"

                                # Tailwind dist file
                                TAILWIND_CLI_DIST_CSS = "insight_ui/css/tailwind.css"
                            </div>
                        </div>
                        <li><span class="inline-tag">python manage.py tailwind setup</span> Für initiales Setup von Tailwind ausführen (lädt u.a. das Tailwind-CLI runter ~120MB)</li>
                        <li><span class="inline-tag">python manage.py tailwind runserver</span> Startet den development Server mit hot reload</li>
                    </ul>
                </li>
            </ol>
        </section>
    </div>
{% endblock content %}

{% block footer %}
    {% footer data=footer_data %}
{% endblock footer %}
