{% extends "insight_ui/base.html" %}
{% load i18n insight_tags %}

{% block content %}
  <div class="relative flex max-w-96 flex-col justify-center insight-surface-base border insight-border-surface insight-radius-surface insight-shadow-surface p-6 lg:p-8 mb-16 mx-auto">
    {% if show_theme_toggle %}
      <div class="absolute top-2 right-2">
        {% include "insight_ui/components/toggle_theme.html" %}
      </div>
    {% endif %}
    {% if logo_config %}
      <div class="flex {% if logo.position == "start" %}justify-start{% elif logo.position == "end" %}justify-end{% else %}justify-center{% endif %}">
        {% logo config=logo_config %}
      </div>
    {% endif %}
    <h2 class="text-primary text-center text-3xl font-bold leading-9">{% trans "Login" %}</h2>
    <form class="space-y-2" action="{{ app_path }}" method="post">{% csrf_token %}
      <div class="text-red-500 mb-4">
        {{ form.non_field_errors }}
      </div>
      <!-- Username -->
      <div>
        {% if show_labels %} <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-secondary mb-1">{% trans "Username" %}</label> {% endif %}
        <input id="username" name="username" type="text" placeholder="{% trans "Enter username" %}" required class="input w-full">
        {{ form.username.errors }}
      </div>
      <!-- Password -->
      <div>
        {% if show_labels %} <label for="{{ form.password.id_for_label }}" class="block text-sm font-medium text-secondary mb-1">{% trans "Password" %}</label> {% endif %}
        <input id="password" name="password" type="password" placeholder="{% trans "Enter password" %}" required class="input w-full">
        {{ form.password.errors }}
        {% if forgot_password %}
          <div class="flex justify-end mt-1">
            <a href="{{ forgot_password.url }}" class="text-link text-sm">{% trans "Forgot password?" %}</a>
          </div>
        {% endif %}
      </div>
      <!-- Submit -->
      <div class="flex justify-center mt-8">
        <button type="submit" class="btn btn-primary w-full">{% trans 'Sign in' %}</button>
      </div>
    </form>
    {% if alt_login %}
      <!-- Alternative login section -->
      <div class="flex items-center gap-4 w-full mt-6">
        <div class="border-b insight-border-surface w-full"></div>
        <span>{% trans "Or" %}</span>
        <div class="border-b insight-border-surface w-full"></div>
      </div>
      <div class="flex justify-center mt-2">
        <a href="{{ alt_login.url }}" class="btn btn-link">
          {{ alt_login.title }}
        </a>
      </div>
    {% endif %}
    {% if sign_up %}
      <!-- Sign up section -->
      <div class="mt-4">
        <p class="text-secondary text-sm">{% trans "You do not have an account yet?" %}</p>
        <a href="{{ sign_up.url }}" class="text-link text-sm">{% trans "Sign up here" %}</a>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block footer %}
  {% footer config=footer_config %}
{% endblock footer %}
