{% extends "insight_ui/base.html" %}
{% load static insight_tags layout_tags i18n %}

{% block title %}{% trans "Insight UI" %}{% endblock title %}

{% block navbar %}
    {% navbar config=nav_config user_dropdown_links=user_dropdown_links search_query=search_query %}
{% endblock navbar %}

{% block sidebar_left %}
    {% sidebar static=False %}
        {% include "insight_ui/components/sidebar_nav.html" with sidebar_data=left_sidebar %}
    {% endsidebar %}
{% endblock sidebar_left %}

{% block content %}
    <div id="content" class="space-y-16 w-full">
        <div class="w-40">
            {% corner_ribbon text="New Feature" %}
            {% minimal_stepper config=min_stepper %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {% footer config=footer_config %}
{% endblock footer %}
