{% extends "insight_ui/base.html" %}
{% load static insight_tags i18n %}

{% block title %}{% trans 'Insight UI Storybook' %}{% endblock %}

{% block drawers %}
    {% include "insight_ui/components/sidebar.html" with sidebar_data=right_sidebar side="right" auto_close=False %}
{% endblock drawers %}

{% block navbar %}
    {% navbar config=nav_config user=user user_dropdown_links=user_dropdown_links show_login=True search_query=search_query %}
{% endblock navbar %}

{% block background_image %}
    <img src="{% static "img/hubble-fiction.webp" %}" alt="Hubble Telescope" class="fixed -z-10 w-full h-dvh object-cover opacity-25">
{% endblock background_image %}

{% block sidebar_left %}
    {% include "insight_ui/components/sidebar.html" with sidebar_data=left_sidebar side="left" static=True %}
{% endblock sidebar_left %}
{% block content %}
    <div class="space-y-8 py-8 px-4 md:px-24">
        <!-- Welcome -->
        <section>
            <h1 class="text-3xl font-bold text-insight-text-primary dark:text-white mb-4">{% trans 'Insight UI Storybook' %}</h1>
            <p class="text-lg text-insight-text-secondary dark:text-insight-text-secondary-dark">
                {% trans 'A modern, accessible, and responsive UI library for Django projects.' %}
            </p>
        </section>

        <!-- Input Elements -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Input Elements' %}</h2>
            <div class="space-y-4">
                {% include "insight_ui/components/inputs.html" %}
            </div>
        </section>

        <!-- Progress bar Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Progress Bars' %}</h2>
            <div class="space-y-8">
                {% include "insight_ui/components/steps_bar.html" with items=steps_bar_items %}
                {% include "insight_ui/components/progress_indicator.html" %}
                {% include "insight_ui/components/bulletpoints.html" with items=bulletpoints %}
            </div>
        </section>

        <!-- Tooltips and Popovers Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Tooltips &amp; Popovers' %}</h2>
            <div class="flex flex-col gap-12">
                <div class="flex flex-col md:flex-row gap-12">
                    <button data-tooltip-trigger="tt-demo-top" data-position="top" class="btn btn-primary">{% trans "Top" %}</button>
                    {% include "insight_ui/components/tooltip.html" with text=_("This is a tooltip.") show_arrow="True" tag_id="tt-demo-top" %}

                    <button data-tooltip-trigger="tt-demo-bottom" data-position="bottom" class="btn btn-primary">{% trans "Bottom" %}</button>
                    {% include "insight_ui/components/tooltip.html" with text=_("This is a tooltip.") tag_id="tt-demo-bottom" %}

                    <button data-tooltip-trigger="tt-demo-right" data-position="right" class="btn btn-primary">{% trans "Right" %}</button>
                    {% include "insight_ui/components/tooltip.html" with text=_("This is a tooltip.") show_arrow="True" tag_id="tt-demo-right" %}

                    <button data-tooltip-trigger="tt-demo-left" data-position="left" class="btn btn-primary">{% trans "Left" %}</button>
                    {% include "insight_ui/components/tooltip.html" with text=_("This is a tooltip.") tag_id="tt-demo-left" %}
                </div>
                <div class="flex flex-col md:flex-row gap-12">
                    <button data-popover-trigger="demo-popover" class="btn btn-primary">Hover me!</button>
                    <div id="demo-popover" class="bg-white dark:bg-gray-500 w-64 border border-gray-300 dark:border-0 rounded-sm shadow">
                        <!-- Arrow -->
                        <div class="popover-arrow absolute left-1/2 -top-2 -translate-x-1/2 w-0 h-0 border-10 border-t-0 border-transparent border-b-white dark:border-b-gray-600"></div>
                        <div class="p-4">
                            <span class="block font-semibold w-full border-b-2 border-gray-300 pb-2">
                                {% trans "This is a Popover." %}
                            </span>
                            <p class="text-sm mt-4">
                                {% trans "A popover could have more content than a tooltip and it can also have interactive elements like buttons" %}
                            </p>
                        </div>
                        <div class="bg-gray-100 dark:bg-gray-600 p-4 rounded-b-sm">
                            <button class="btn btn-primary btn-sm">{% trans "Learn more" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Code-Block Demo -->
        <section class="component-container">
            <h2 class="font-mono text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">
                {% trans 'Code Block' %}<span class="animate-blink">_</span>
            </h2>

            <div id="code" data-insight-code-block="javascript">
                function greet(name) {
                    return `Hello, ${name}!`;
                }
            </div>
            <div id="code2" data-insight-code-block="python">
                def greet(name: str) -> str:
                    return f"Hello, {name}";
            </div>
        </section>

        <!-- Chat Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Chat' %}</h2>
            {% include "insight_ui/components/chat.html" %}
        </section>

        <!-- Alerts Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Alerts' %}</h2>
            <div class="space-y-4">
                {% alert message="This is just an information." alert_type="info" %}
                {% alert message="Saved successfully!" alert_type="success" %}
                {% alert message="Please review your entries!" alert_type="warning" %}
                {% alert message="Error while loading data!" alert_type="error" %}
            </div>
        </section>

        <!-- Breadcrumbs Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Breadcrumb-Navigation' %}</h2>
            {% breadcrumbs items=breadcrumb_items %}
            {% breadcrumbs items=single_breadcrumb_item %}
        </section>

        <!-- Modal Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans "Modal-Dialogs" %}</h2>
            <div class="flex flex-col md:flex-row gap-4">
                <!-- Standard -->
                <button class="btn btn-primary w-72" data-insight-toggle="modal" data-insight-target="demo-modal">
                    {% trans "Standard Modal" %}
                </button>
                {% modal html_tag_id="demo-modal" title=_("Demo Modal") description=_("This is an example of a standard modal.") %}

                <!-- Action-Buttons -->
                <button class="btn btn-danger w-72" data-insight-toggle="modal" data-insight-target="delete-modal">
                    {% trans "Modal with Action-Buttons" %}
                </button>
                {% modal html_tag_id="delete-modal" title=_("Delete?") description="Please conform deletion!" actions=confirm_modal_actions %}
            </div>
        </section>

        <!-- Differentiator Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Differentiator' %}</h2>
            {{ textA|diff:textB|safe }}
        </section>

        <!-- HTMX Live Content Demo (Pulling)-->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Live-Content (Pull)' %}</h2>
            {% live_content url="/api/live-data/" interval=10 id="live-content" %}
        </section>

        <!-- HTMX Websocket Content Demo (Pushing) -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans "WebSocket Live-Demo (Push)" %}</h2>
            <!-- {% insight_websocket html_tag_id="demo-websocket" ws_url="ws://localhost:8765" initial_content="<p>Verbinde zu WebSocket…</p>" %} -->
        </section>

        <!-- Geo-Map Demo -->
        <section class="component-container">
            <h2 class="text-2xl font-semibold text-insight-text-primary dark:text-white mb-4">{% trans 'Geo Map' %}</h2>
            {% include "insight_ui/components/geo_map.html" %}
        </section>
    </div>
{% endblock content %}

{% block footer %}
    {% footer data=footer_data %}
{% endblock footer %}
