{% extends "insight_ui/components/carousel.html" %}

{% load static insight_tags %}

{% block carousel_content %}
    <div class="relative">
        {% if item.description %}
            <!-- Description overlay -->
            <div class="absolute z-30 top-4 flex justify-center w-full px-2">
                <div class="bg-neutral-700/75 px-4 py-1 w-fit max-w-3/4 rounded-lg">
                    <p class="text-white text-xs md:text-lg md:font-semibold">{{ item.description }}</p>
                </div>
            </div>
        {% endif %}
        <div class="flex justify-center h-full insight-surface-soft rounded-lg">
            <img src="{{ item.url }}" alt="{{ item.alt }}" class="p-2 max-h-full m-auto">
        </div>
    </div>
{% endblock carousel_content %}
